<style type="text/css">
    .articleTxtBox{
        max-width:500px;
    }

    .articleItemCon{
        margin:10px 0px;
    }

    .articleBtnCls{
        width: 200px;
        margin-top: 25px;
    }
</style>

<link href='~/Content/jquery-te-1.4.0.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="~/Scripts/jquery-te-1.4.0.js"></script>
@{
    ViewBag.Title = "Index";
}

<section id="content_wrapper">

    <!-- Start: Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">

                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-active">
                    Dashboard
                </li>
            </ol>
        </div>

    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div id="content" class="animated fadeIn">
        <div class="row" id="modal-content">
            <div class="col-md-12">
                <div class="articleItemCon">
                    <label>Artitle Title</label>
                    <input class="form-control articleTxtBox" id="ArticleTitle" placeholder="Article Title" type="text" value="">
                </div>

                <div class="articleItemCon">
                    <label>Author Image</label>
                    <input class="form-control articleTxtBox" id="AuthorImage" type="file">
                </div>

                <div class="articleItemCon">
                    <label>Author Name</label>
                    <input class="form-control articleTxtBox" id="AuthorName" placeholder="Author Name" type="text" value="">
                </div>

                <div class="articleItemCon">
                    <label>Artitle Twitter Link</label>
                    <input class="form-control articleTxtBox" id="AuthorTwitterLink" placeholder="Article Twitter Link" type="text" value="">
                </div>

                <div class="articleItemCon">
                    <label>Article Image</label>
                    <input class="form-control articleTxtBox" id="ArticleImage" type="file">
                </div>

                <div class="articleItemCon">
                    <label>Artitle Body</label>
                    <textarea id="uiEditorBox1" class="editor jqte-test" name="text1"></textarea>
                </div>

                <div class="articleItemCon">
                    <label>Artitle SubHeading</label>
                    <input class="form-control articleTxtBox" id="AuthorSubHedaing" placeholder="Article SubHeading" type="text" value="">
                </div>

                <div class="articleItemCon">
                    <label>Article Additional Images</label>
                    <input class="form-control articleTxtBox" id="ArticleImage" type="file" multiple>
                </div>

                <div class="articleItemCon">
                    <label>Facebook Comments</label>
                    <select id="ddlFacebookComments" class="form-control articleTxtBox">
                        <option value="1">Enabled</option>
                        <option value="2">Disabled</option>
                    </select>
                </div>

                <div class="articleItemCon">
                    <label>Homepage Flag</label>
                    <select id="ddlHomepageFlag" class="form-control articleTxtBox">
                        <option value="1">Enabled</option>
                        <option value="2">Disabled</option>
                    </select>
                </div>

                <div class="articleItemCon">
                    <label>Premium Flag</label>
                    <select id="ddlPremiumFlag" class="form-control articleTxtBox">
                        <option value="1">Enabled</option>
                        <option value="2">Disabled</option>
                    </select>
                </div>

                <div class="articleItemCon">
                    <button class="btn btn-info articleBtnCls">Add</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(function () {
        $("#uiEditorBox1").jqte();
        
    });
</script>

