@using CMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Eventcombo Admin</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/skin/default_skin/css/event_combo.css">

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin-tools/admin-forms/css/admin-forms.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body class="external-page external-alt sb-l-c sb-r-c">
    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { role = "form", id = "formlogin", @class = "form-horizontal acnt_form" }))
{

            <!-- Begin: Content -->
            <section id="content">

                <div class="admin-form theme-info mw500" id="login">

                    <!-- Login Logo -->
                    <div class="row table-layout">
                        
                            <img src="~/assets/img/logos/logo.png" title="AdminDesigns Logo" class="center-block img-responsive" style="max-width: 275px;">
                        
                    </div>

                    <!-- Login Panel/Form -->
                    <div class="panel mt30 mb25">


                       
                            <div class="panel-body bg-light p25 pb15">
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-micro alert-border-left alert-danger pastel alert-dismissable mn mb5" id="diverrorsys">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-info pr10"></i> <span id="spanid"> @Html.ValidationMessage("")</span>
    </div>
}
                                <div class="alert alert-micro alert-border-left alert-danger pastel alert-dismissable mn mb5" style="display:none;" id="diverror">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="fa fa-info pr10"></i> <span id="spanid"></span>
                                </div>
                                <!-- Username Input -->
                                <div class="section">
                                    <label for="username" class="field-label text-muted fs18 mb10">Email</label>
                                    <label for="username" class="field prepend-icon">
                                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter Email", @class = "gui-input", @maxlength = 256,id= "Email" })

                                        <label for="username" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>

                                <!-- Password Input -->
                                <div class="section">
                                    <label for="username" class="field-label text-muted fs18 mb10">Password</label>
                                    <label for="password" class="field prepend-icon">
                                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Password", @class = "gui-input",@maxlength=15 ,id= "Password"})

                                        <label for="password" class="field-icon">
                                            <i class="fa fa-lock"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>

                            <div class="panel-footer clearfix">
                              
                                    <input type="submit" value="Sign In" class="button btn-primary mr10 pull-right" id="btnsave"  disabled="disabled"/>
                            
                                <label class="switch ib switch-primary mt10 hidden">
                                    <input type="checkbox" name="remember" id="remember" checked>
                                    <label for="remember" data-on="YES" data-off="NO"></label>
                                    <span>Remember me</span>
                                </label>
                            </div>

                     

                    </div>

                    <!-- Registration Links -->
                    <div class="login-links hidden">
                        <p>
                            <a href="pages_forgotpw(alt).html" class="active" title="Sign In">Forgot Password?</a>
                        </p>

                    </div>

                    <!-- Registration Links(alt) -->
                    <div class="login-links hidden">
                        <a href="pages_login-alt.html" class="active" title="Sign In">Sign In</a> |
                        <a href="pages_register-alt.html" class="" title="Register">Register</a>
                    </div>

                </div>

            </section>
            <!-- End: Content -->

}
        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->
    <!-- BEGIN: PAGE SCRIPTS -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Theme Javascript -->
    <script src="~/assets/js/utility/utility.js"></script>
    <script src="~/assets/js/demo/demo.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- Page Javascript -->
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Email').keyup(function () {
             
                if ($(this).val() != '' && $('#Password').val()!='')
                {
                    $('#btnsave').removeAttr("disabled");

                } else {

                    $('#btnsave').attr("disabled", true);
                }

            })
            $('#Password').keyup(function () {
                if ($(this).val() != '' && $('#Email').val()!='')
                {
               
                    $('#btnsave').removeAttr("disabled");

                } else {

                    $('#btnsave').attr("disabled", true);
                }

            })
            

        
            $('#btnsave').click(function () {
                var msglogin = "";
                var Emaillogin = $("#Email").val();

                var Passowrdlogin = $("#Password").val();
                if (!validateEmail(Emaillogin)) {

                    $('#Email').focus();
                    $('#Email').addClass('err-bor');

                    msglogin += "Invalid Email!\n"

                }
                else {

                    $('#Email').removeClass('err-bor');
                }

                if (Passowrdlogin.length < 4) {
                    $('#Password').focus();
                    $('#Password').addClass('err-bor');
                    msglogin += "Password Length can't be less than 4!\n"

                } else {
                    $('#Password').removeClass('err-bor');

                }
                console.log(msglogin);
                if (msglogin != "")
                {
                    $('#diverror').css("display", "block");
                    $('#diverrorsys').css("display", "none");
                         $('#spanid').text(msglogin);
                      return false;

                 
                }
                else {

                    $('#diverror').css("display", "none");
                    return true;
                  
                }
            });
            function validateEmail(sEmail) {
                var filter = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                if (filter.test(sEmail)) {

                    return true;
                }
                else {


                    return false;
                }
            }
        });
        jQuery(document).ready(function () {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init Demo JS
            Demo.init();

        });
    </script>
    <!-- END: PAGE SCRIPTS -->
</body>

</html>
