
@{
    ViewBag.Title = "DiscoverEvents";
    
}



<div class="container-fluid cont_margin no-padding">
    <div class="col-md-3 col-sm-12 ">
        <div class="col-sm-12 no-padding">
            <div class="dis_event_title "><h2>New York Events</h2></div>

            <p class="event_desc dis_event_desc">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
            <p>
                <img class="img-responsive" src="~/Images/gmap.png" alt="">
            </p>

        </div>
    </div>
    <div class="col-md-9 col-sm-12 no-padding ">
        <div class="col-md-4 col-xs-12 col-sm-6 wid_1024 ">
            <div class="event_list_main">
                <div class="event_list_left">
                    <img class="evnt_img" src="../images/event1.jpg" alt="">
                </div>
                <div class="event_list_right">
                    <p class="event_tit"><a href="#">Campagnolo Gran Fondo New York 2015</a></p>
                    <p class="event_desc">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                    <p class="event_date_time"><a href="#">Saturday, Aug 2, 2014 8:00 PM</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 wid_1024">
            <div class="event_list_main">
                <div class="event_list_left">
                    <img class="evnt_img" src="../images/event1.jpg" alt="">
                </div>
                <div class="event_list_right">
                    <p class="event_tit"><a href="#">Campagnolo Gran Fondo New York 2015</a></p>
                    <p class="event_desc">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                    <p class="event_date_time"><a href="#">Saturday, Aug 2, 2014 8:00 PM</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 wid_1024">
            <div class="event_list_main">
                <div class="event_list_left">
                    <img class="evnt_img" src="../images/event1.jpg" alt="">
                </div>
                <div class="event_list_right">
                    <p class="event_tit"><a href="#">Campagnolo Gran Fondo New York 2015</a></p>
                    <p class="event_desc">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                    <p class="event_date_time"><a href="#">Saturday, Aug 2, 2014 8:00 PM</a> </p>
                </div>
            </div>
        </div>
    </div>

</div>