
@{
    ViewBag.Title = "EventOraganizer";
    
}

<div class="container-fluid cont_margin no-padding">


    <div class="col-sm-12">
        <div class="col-sm-12 the_buz no-padding "><h2>Organizers, rejoyce! We're here to help.</h2></div>
        <div class="col-sm-12 psst_event_org">
            <div class="col-sm-8 no-padding">
                <p class="get_buzz_title"><a href="#">1. Create an event</a></p>
                <p class="get_buzz_desc"><a href="">We have quick and easy tools toset up your event ticketing on-line. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore </a></p>
            </div>
            <div class="col-sm-4"><a href="#"><img class="img-responsive" src="~/Images/event-fpo.png" alt=""></a></div>
        </div>
        <div class="col-sm-12 psst_event_org">
            <div class="col-sm-8 no-padding">
                <p class="get_buzz_title"><a href="#">1. Create an event</a></p>
                <p class="get_buzz_desc"><a href="">We have quick and easy tools toset up your event ticketing on-line. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore </a></p>
            </div>
            <div class="col-sm-4"><a href="#"><img class="img-responsive" src="~/Images/event-fpo.png" alt=""></a></div>
        </div>


    </div>

</div>

