@using EventCombo.Models
@model ForgetPassword
 @{
    ViewBag.Title = "ForgetPassword";
    
}





<div class="container-fluid cont_margin">
 
        <div class="col-sm-12">
            <div class="forget_container">
                <h3 class="acnt_title">Forgot your password?</h3>
                <p class="forget_title">Please provide your login email</p>
                <div class="forget_con_inner">
@using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { role = "form", id = "formfrgt", @class = "form-horizontal acnt_form col-md-offset-1" }))
{
                   
                        if (ViewData["Message"] != null)
                        {
                            <div class="er_suc_main alert-success" id="divaccfrgtsuc">
                                <button class="close closebtn" aria-hidden="true" data-dismiss="alert" type="button" id="btndivaccfrgtsuc">&#215;</button>
                                <div class="er_suc_img"></div>
                                <div class="er_suc" id="divsuccfrgt">@ViewData["Message"] </div>
                            </div>

                        }
                        <div class="err_main">
                            <div class="er_UI_main alert-danger" id="diverrofrgt" style="display :none;width:100%">
                                <button class="close closebtn" aria-hidden="true" data-dismiss="alert" type="button" id="btndiverrofrgt">&#215;</button>
                                <div class="er_UI_img"></div>
                                <div class="er_suc" id="dvfrgtui">  </div>
                            </div>
                        </div>


                        <div class="err_main">
                            <div class="er_UI_main alert-danger" id="diverro1frgt" style="display :none;width:100%">
                                <button class="close closebtn" aria-hidden="true" data-dismiss="alert" type="button" id="btndiverro1frgt">&#215;</button>
                                <div class="er_sys_img"></div>
                                <div class="er_suc" id="dvfrgtsys">  </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label acnt_form_label">E-mail (Used as login)</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 add_form_bot">
                                        <input class=" form-control" id="EmailPAssword" name="Email" size="32" value="" type="email" maxlength="256">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="SUBMIT" class="btn btn-info  acnt_btn" id="btnSavePassword"  disabled="disabled" />
                       
               
}
                </div>
            </div>
        </div>


</div>



<script type="text/javascript">
    $(document).click(function () {
        $('#divaccfrgtsuc').css('display', 'none');
        $('#diverrofrgt').css('display', 'none');
        $('#diverro1frgt').css('display', 'none');
        
        $("input").removeClass('err-bor');
    });
    $('#btndivaccfrgtsuc').click(function () {
        $('#divaccfrgtsuc').css('display', 'none');
        $('#diverrofrgt').css('display', 'none');
        $('#diverro1frgt').css('display', 'none');
        $("input").removeClass('err-bor');
    })
    $('#btndiverro1frgt').click(function () {
        $('#divaccfrgtsuc').css('display', 'none');
        $('#diverrofrgt').css('display', 'none');
        $('#diverro1frgt').css('display', 'none');
        $("input").removeClass('err-bor');
    })

    $('#btndiverrofrgt').click(function () {
        $('#divaccfrgtsuc').css('display', 'none');
        $('#diverrofrgt').css('display', 'none');
        $('#diverro1frgt').css('display', 'none');
        $("input").removeClass('err-bor');
    })
    $(document).ready(function () {

        $('#EmailPAssword').keyup(function () {

            if ($(this).val() != '') {
                $('#btnSavePassword').removeAttr("disabled");

            } else {

                $('#btnSavePassword').attr("disabled", true);
            }

        })

    });
                function validationfrgt()
                {
                    var msglogin = "";
                    var Emailforgot = $("#EmailPAssword").val();

                    if (!validateEmail(Emailforgot)) {
                        $('#EmailPAssword').focus();
                        $('#EmailPAssword').addClass('err-bor');
                        msglogin += "Invalid Email!! </br>"

                    } else {

                        msglogin = "";
                        $('#EmailPAssword').focus();
                        $('#EmailPAssword').removeClass('err-bor');
                    }
                  
                    return msglogin;
                }
                function validateEmail(sEmail) {
                    var filter = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

                    if (filter.test(sEmail)) {

                        return true;
                    }
                    else {


                        return false;
                    }
                }

                $("#btnSavePassword").click(function () {
                    var msgloginn = validationfrgt();
              
                    var flag1login = true;
                    if (msgloginn == "") {
                        $('#divsuccfrgt').css('display', 'none');
                        $('#diverrofrgt').css("display", "none");
                        flag1 = true;
                    }
                    else {
                        $('#divsuccfrgt').css('display', 'none');
                        $('#diverro1frgt').css('display', 'none');
                        $('#dvfrgtui').html(msgloginn);
                        $('#diverrofrgt').css("display", "block");

                        return false;
                    }
                    if (flag1login) {
                        var flaglogin = false;
                        var Emaillogin = $("#EmailPAssword").val();

                      
                        $.ajax({
                            url: "/Home/IsValid",
                            data: 'Email=' + Emaillogin,
                            dataType: "text",
                            type: 'Post',
                            success: function (data, textStatus, xhr) {
                              if (data != '') {
                                    if (data =="NotFound")
                                    {
                                        
                                        $('#divaccfrgtsuc').css('display', 'none');
                                        $('#EmailPAssword').focus();
                                        $('#EmailPAssword').addClass('err-bor');
                                        $('#diverrofrgt').css("display", "none");
                                        $('#diverro1frgt').css('display', 'block');
                                        $('#dvfrgtsys').html('Email Not Found in our Database!!!');

                                        return false;

                                    }
                                    else if (data == "Found")
                                    {
                                        $('#divaccfrgtsuc').css('display', 'none');
                                        $('#diverro1frgt').css('display', 'none');
                                        $('#EmailPAssword').removeClass('err-bor');
                                        $('#formfrgt').submit();

                                    }


                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                alert("Req " + xhr + " status " + textStatus + "  Error " + errorThrown);
                            }
                        });



                    }
                });
</script>