
@{
    ViewBag.Title = "GetBuzz";
   
}
<div class="container-fluid cont_margin no-padding con_scr0l_home" id="scrollhome">


    <div class="col-sm-12">
        <div class="col-sm-12 the_buz no-padding "><h2>What's the BUZZ?</h2></div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3 col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3 col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>
        <div class="col-sm-4 get_buzz_main no-padding wid_1024 wid_get_buzz">
            <div class="col-sm-9 no-padding col-xs-9 no-padding">
                <p class="get_buzz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                <p class="get_buzz_desc">
                    <a href="">
                        Sun National Bank Arena
                        81 Hamilton Avenue
                        Trenton, NJ , 08611
                        New York, New York
                    </a>
                </p>
            </div>
            <div class="col-sm-3  col-xs-3 no-padding"><a href="#"><img class="evnt_img" src="~/Images/event1.jpg" alt=""></a></div>
        </div>


    </div>

</div>

