@{
    ViewBag.Title = "Home Page";
}





<div class="container-fluid cont_margin no-padding con_scr0l_home" id="scrollhome">
    <div class="col-md-9 col-sm-12 no-padding ">
        <div class="col-md-4 col-xs-12 col-sm-6 wid_1024 ">
            <div class="event_list_main">
                <div class="event_list_left">
                    <img class="evnt_img" src="~/Images/event1.jpg" alt="">
                </div>
                <div class="event_list_right">
                    <p class="event_tit"><a href='@Url.Action("ViewEvent", "CreateEvent",new { EventId=74,eventTitle="a"})'>Campagnolo Gran Fondo New York 2015</a></p>
                    <p class="event_desc">
                        <a href='@Url.Action("ViewEvent", "CreateEvent",new { EventId=74,eventTitle="a"})'>
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                    <p class="event_date_time"><a href='@Url.Action("ViewEvent", "CreateEvent",new { EventId=74,eventTitle="a"})'>Saturday, Aug 2, 2014 8:00 PM</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 wid_1024">
            <div class="event_list_main">
                <div class="event_list_left">
                    <img class="evnt_img" src="~/Images/event1.jpg" alt="">
                </div>
                <div class="event_list_right">
                    <p class="event_tit"><a href="#">Campagnolo Gran Fondo New York 2015</a></p>
                    <p class="event_desc">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                    <p class="event_date_time"><a href="#">Saturday, Aug 2, 2014 8:00 PM</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 wid_1024">
            <div class="event_list_main">
                <div class="event_list_left">
                    <img class="evnt_img" src="~/Images/event1.jpg" alt="">
                </div>
                <div class="event_list_right">
                    <p class="event_tit"><a href="#">Campagnolo Gran Fondo New York 2015</a></p>
                    <p class="event_desc">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                    <p class="event_date_time"><a href="#">Saturday, Aug 2, 2014 8:00 PM</a> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 ">
        <div class="col-sm-12 no-padding">
            <div class="the_buz "><h2>What's the BUZZ?</h2></div>
            <div class="event_list_main buzz_right_main ">
                <div class="event_list_right buzz_right">
                    <p class="event_tit buz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                    <p class="event_desc buz_desc">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                </div>
                <div class="event_list_left">
                    <img class="evnt_img_right" src="~/Images/event1.jpg" alt="">
                </div>
            </div>
            <div class="event_list_main buzz_right_main">
                <div class="event_list_right buzz_right">
                    <p class="event_tit buz_title"><a href="#">To Tattoo or Not... 5 of the Hottest Tat Types for Summer</a></p>
                    <p class="event_desc buz_desc">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </p>
                </div>
                <div class="event_list_left">
                    <img class="evnt_img_right" src="~/Images/event1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
