@{
    ViewBag.Title = "Eventcombo - Find and Enjoy Cool Events, Create Your Own, Sell Tickets For Free";
}


<div class="container-fluid cont_margin no-padding con_scr0l_home" id="scrollhome">
 <div class="col-sm-9 col-xs-12 ot_main_pad mb10">
        <div class="col-sm-12 no_pad">
            <div class="col-md-4 col-xs-12 col-sm-6 ot_pad">
                <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                    <div class="col-sm-12 col-xs-12 in_pad">
                        <div class="col-sm-4 no_pad">
                            <div class="dis_evnt_img"><img class="" src="../images/event1.jpg" alt=""></div>
                            <!-- <div class="col-sm-12 no_pad text-center desc_list_event_type">$35.99 - $35.99 </div> -->
                        </div>
                        <div class="col-sm-8 no_pad">
                            <h1 class="list_event_desc_title xs-title-height">New Delhi Business Ideas Ideas</h1>
                            <p class="list_event_desc xs-address-height">
                                Sun National Bank Arena 81 ...

                            </p>
                            <!--  <p class="list_event_date_time xs-dat-time-height"><a href="#">Saturday, Aug 2, 2014 8:00 PM</a> </p> -->

                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                $35.99 - $35.99
                            </div>
                            <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                Mar 11, 2016 7:00pm
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                        <div class="col-sm-10 no_pad">
                            <ul class="nav nav-pills list_inner_cat_tag">
                                <li><a href="">#category1 </a></li>
                                <li><a href="">#category2 </a></li>

                            </ul>
                        </div>
                        <div class="col-sm-2 no_pad text-right">
                            <button class="desc_btn_bg_none " title="Your Favourite" type="button" data-toggle="modal" data-target="#sharemodal">
                                <i class="fa fa-share-alt"></i>
                            </button>

                            <button class="desc_btn_bg_none desc_btn_bg_active" title="Your Favourite" type="button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6 ot_pad">
                <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                    <div class="col-sm-12 col-xs-12 in_pad">
                        <div class="col-sm-4 no_pad">
                            <div class="dis_evnt_img"><img class="" src="http://localhost:10159/Images/default_event_image.jpg" alt=""></div>
                            <!-- <div class="col-sm-12 no_pad text-center desc_list_event_type">Free</div> -->
                        </div>
                        <div class="col-sm-8 no_pad">
                            <h1 class="list_event_desc_title xs-title-height">New Delhi Innovative  Business Ideas Ideas</h1>
                            <p class="list_event_desc xs-address-height">
                                Sun National Bank Arena 81 Hamilton Avenue Sun National Bank Arena
                                81 Hamilton Avenue

                            </p>
                            <!--  <p class="list_event_date_time xs-dat-time-height"><a href="#">Saturday, Aug 2, 2014 8:00 PM</a> </p> -->

                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                $35.99 - $35.99
                            </div>
                            <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                Mar 11, 2016 7:00pm - Apr 29, 2016 7:00pm
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                        <div class="col-sm-10 no_pad">
                            <ul class="nav nav-pills list_inner_cat_tag">
                                <li><a href="">#category1 </a></li>
                                <li><a href="">#category2 </a></li>

                            </ul>
                        </div>
                        <div class="col-sm-2 no_pad text-right">
                            <button class="desc_btn_bg_none " title="Your Favourite" type="button">
                                <i class="fa fa-share-alt"></i>
                            </button>

                            <button class="desc_btn_bg_none desc_btn_bg_active" title="Your Favourite" type="button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6 ot_pad">
                <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                    <div class="col-sm-12 col-xs-12 in_pad">
                        <div class="col-sm-4 no_pad">
                            <div class="dis_evnt_img"><img class="" src="images/long.jpg" alt=""></div>
                            <!-- <div class="col-sm-12 no_pad text-center desc_list_event_type">$35.99 - $35.99</div> -->
                        </div>
                        <div class="col-sm-8 no_pad">
                            <h1 class="list_event_desc_title xs-title-height">New Delhi Innovative Business Ideas Business Ideas Ideas</h1>
                            <p class="list_event_desc xs-address-height">
                                Sun National Bank Arena 81 Hamilton Avenue Sun National Bank Arena
                                81 Hamilton Avenue 81 Hamilton Avenue Bank...

                            </p>

                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                $35.99 - $35.99
                            </div>
                            <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                Mar 11, 2016 7:00pm - Apr 29, 2016 7:00pm
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                        <div class="col-sm-10 no_pad">
                            <ul class="nav nav-pills list_inner_cat_tag">
                                <li><a href="">#category1 </a></li>
                                <li><a href="">#category2 </a></li>

                            </ul>
                        </div>
                        <div class="col-sm-2 no_pad text-right">
                            <button class="desc_btn_bg_none " title="Your Favourite" type="button">
                                <i class="fa fa-share-alt"></i>
                            </button>

                            <button class="desc_btn_bg_none desc_btn_bg_active" title="Your Favourite" type="button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6 ot_pad">
                <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                    <div class="col-sm-12 col-xs-12 in_pad">
                        <div class="col-sm-4 no_pad">
                            <div class="dis_evnt_img"><img class="" src="images/long.jpg" alt=""></div>
                            <!-- <div class="col-sm-12 no_pad text-center desc_list_event_type">$35.99 - $35.99</div> -->
                        </div>
                        <div class="col-sm-8 no_pad">
                            <h1 class="list_event_desc_title xs-title-height">New Delhi Innovative Business Ideas Business Ideas Ideas</h1>
                            <p class="list_event_desc xs-address-height">
                                Sun National Bank Arena 81 Hamilton Avenue Sun National Bank Arena
                                81 Hamilton Avenue 81 Hamilton Avenue Bank...

                            </p>

                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                $35.99 - $35.99
                            </div>
                            <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                Mar 11, 2016 7:00pm - Apr 29, 2016 7:00pm
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                        <div class="col-sm-10 no_pad">
                            <ul class="nav nav-pills list_inner_cat_tag">
                                <li><a href="">#category1 </a></li>
                                <li><a href="">#category2 </a></li>

                            </ul>
                        </div>
                        <div class="col-sm-2 no_pad text-right">
                            <button class="desc_btn_bg_none " title="Your Favourite" type="button">
                                <i class="fa fa-share-alt"></i>
                            </button>

                            <button class="desc_btn_bg_none desc_btn_bg_active" title="Your Favourite" type="button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6 ot_pad">
                <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                    <div class="col-sm-12 col-xs-12 in_pad">
                        <div class="col-sm-4 no_pad">
                            <div class="dis_evnt_img"><img class="" src="images/long.jpg" alt=""></div>
                            <!-- <div class="col-sm-12 no_pad text-center desc_list_event_type">$35.99 - $35.99</div> -->
                        </div>
                        <div class="col-sm-8 no_pad">
                            <h1 class="list_event_desc_title xs-title-height">New Delhi Innovative Business Ideas Business Ideas Ideas</h1>
                            <p class="list_event_desc xs-address-height">
                                Sun National Bank Arena 81 Hamilton Avenue Sun National Bank Arena
                                81 Hamilton Avenue 81 Hamilton Avenue Bank...

                            </p>

                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                $35.99 - $35.99
                            </div>
                            <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                Mar 11, 2016 7:00pm - Apr 29, 2016 7:00pm
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                        <div class="col-sm-10 no_pad">
                            <ul class="nav nav-pills list_inner_cat_tag">
                                <li><a href="">#category1 </a></li>
                                <li><a href="">#category2 </a></li>

                            </ul>
                        </div>
                        <div class="col-sm-2 no_pad text-right">
                            <button class="desc_btn_bg_none " title="Your Favourite" type="button">
                                <i class="fa fa-share-alt"></i>
                            </button>

                            <button class="desc_btn_bg_none desc_btn_bg_active" title="Your Favourite" type="button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-6 ot_pad">
                <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                    <div class="col-sm-12 col-xs-12 in_pad">
                        <div class="col-sm-4 no_pad">
                            <div class="dis_evnt_img"><img class="" src="images/long.jpg" alt=""></div>
                            <!-- <div class="col-sm-12 no_pad text-center desc_list_event_type">$35.99 - $35.99</div> -->
                        </div>
                        <div class="col-sm-8 no_pad">
                            <h1 class="list_event_desc_title xs-title-height">New Delhi Innovative Business Ideas Business Ideas Ideas</h1>
                            <p class="list_event_desc xs-address-height">
                                Sun National Bank Arena 81 Hamilton Avenue Sun National Bank Arena
                                81 Hamilton Avenue 81 Hamilton Avenue Bank...

                            </p>

                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                $35.99 - $35.99
                            </div>
                            <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                Mar 11, 2016 7:00pm - Apr 29, 2016 7:00pm
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                        <div class="col-sm-10 no_pad">
                            <ul class="nav nav-pills list_inner_cat_tag">
                                <li><a href="">#category1 </a></li>
                                <li><a href="">#category2 </a></li>

                            </ul>
                        </div>
                        <div class="col-sm-2 no_pad text-right">
                            <button class="desc_btn_bg_none " title="Your Favourite" type="button">
                                <i class="fa fa-share-alt"></i>
                            </button>

                            <button class="desc_btn_bg_none desc_btn_bg_active" title="Your Favourite" type="button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="col-sm-12 col-xs-12 text-center mb10">
            <nav>
                <ul class="pagination desc_pagination">
                    <li>
                        <a href="#">
                            <span><i class="fa fa-angle-left"></i> </span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#">
                            <span><i class="fa fa-angle-right"></i> </span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

    <div class="col-sm-3 col-xs-12 ot_main_pad">
        <div class="col-sm-12 no-padding">
            <div class="the_buz "><h2>What's the BUZZ?</h2></div>

            <div class="col-sm-12 no_pad mb10">
                <div class="col-sm-12 no_pad">
                    <div class="home-buzz-img"> <img class="" src="../images/event1.jpg" alt=""> </div>
                </div>
                <div class="col-sm-12 no_pad">
                    <h1 class="list_event_desc_title">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </h1>
                </div>
                <div class="col-sm-12 no_pad ">
                    <ul class="nav nav-pills list_inner_cat_tag buzz_bot_title">
                        <li><i class="fa fa-user"></i> Cheris Mcdonald </li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>

                    </ul>
                </div>
            </div>

            <div class="col-sm-12 no_pad mb10">
                <div class="col-sm-12 no_pad">
                    <div class="home-buzz-img"> <img class="" src="http://localhost:10159/Images/default_event_image.jpg" alt=""> </div>
                </div>
                <div class="col-sm-12 no_pad">
                    <h1 class="list_event_desc_title">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </h1>
                </div>
                <div class="col-sm-12 no_pad ">
                    <ul class="nav nav-pills list_inner_cat_tag buzz_bot_title">
                        <li><i class="fa fa-user"></i> Cheris Mcdonald </li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>

                    </ul>
                </div>
            </div>

            <div class="col-sm-12 no_pad mb10">
                <div class="col-sm-12 no_pad">
                    <div class="home-buzz-img"> <img class="" src="../images/event1.jpg" alt=""> </div>
                </div>
                <div class="col-sm-12 no_pad">
                    <h1 class="list_event_desc_title">
                        <a href="#">
                            Sun National Bank Arena
                            81 Hamilton Avenue
                            Trenton, NJ , 08611
                            New York, New York
                        </a>
                    </h1>
                </div>
                <div class="col-sm-12 no_pad ">
                    <ul class="nav nav-pills list_inner_cat_tag buzz_bot_title">
                        <li><i class="fa fa-user"></i> Cheris Mcdonald </li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>

                    </ul>
                </div>
            </div>



        </div>
    </div>

</div>
<script>
    $(document).prop('title', 'Eventcombo - Find and Enjoy Cool Events, Create Your Own, Sell Tickets For Free');
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetEventURL", "CreateEvent")',
            type: "Post",
            success: function (data) {
                if (data != "")
                    $("#dllEventList").html(data);
           },
        });
        $("#dllEventList").change(function () {
            window.location.href = $("#dllEventList").val();
        });
        $("#btTest").click(function () {
           // alert("button click");
            window.location.href = '@Url.Action("ViewEvent", "ViewEvent", new { strEventDs = "a", strEventId = "74" })';

        });
    });
  
</script>
