@using EventCombo.Models
@using EventCombo.Service
@model BaseViewModel
@{
  Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section CSSSection
{
  @Styles.Render("~/Content/AMaterial/homePage.css")
}

@section ScriptSection
{
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenLite.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/CSSPlugin.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/TextPlugin.min.js"></script>
}

@section ScriptFooterSection
{
  <script src="@Url.Content("~/Scripts/AMaterial/texttyper.js")"></script>
  <script type="text/javascript">
    var cntWd, sldWd, tb;
    $(document).ready(function() {
      $('#featured').mouseenter(function (ent) {
        cntWd = $('#featured').innerWidth();
        tb = $('#featured-scrollbox');
        sldWd = tb.outerWidth();
      });
      $('#featured').mousemove(function (ev) {
        tb.css({ left: ((cntWd - sldWd) * ((ev.pageX / cntWd).toFixed(3))).toFixed(1) + "px" });
      });
    });
  </script>
  <script type="text/javascript">
    var fbappid = '@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]'

    // init the FB JS SDK
    window.fbAsyncInit = function () {
      FB.init({
        appId: fbappid,                        // App ID from the app dashboard
        status: true,                          // Check Facebook Login status
        xfbml: true,                           // Look for social plugins on the page
        version: '2.7'
      });

    };
    // Load the SDK asynchronously
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
}
<!--***************************-->
<div class="hero">
  <div class="hero1">
    <div>Go beyond just tickets</div>
    <div class="pretext">Rock your <span id="ContainerEl_2"></span></div>
  </div>
</div>

<div class="citylist clearfix">
  <div class="row">
    <div class="c3 city">N.Y.</div>
    <div class="c3 city">L.A</div>
    <div class="c3 city">D.C</div>
    <div class="c3 city">Chicago</div>
  </div>
  <div class="row">
    <div class="c3 city">Atlanta</div>
    <div class="c3 city">Philly</div>
    <div class="c3 city">Miami</div>
    <div class="c3 city">San Francisco</div>
  </div>
  <div class="row">
    <div class="c3 city">Dallas</div>
    <div class="c3 city">Houston</div>
    <div class="c3 city">Boston</div>
    <div class="c3 city all">All the cities</div>
  </div>
</div>
<div class="eventlist clearfix">
  <div class="row">
    <div class="c3 event">Comedy Show</div>
    <div class="c3 event">Film</div>
    <div class="c3 event">Workshop</div>
    <div class="c3 event">Music Festival</div>
  </div>
  <div class="row">
    <div class="c3 event">Party</div>
    <div class="c3 event">Concert</div>
    <div class="c3 event">Competition</div>
    <div class="c3 event">Sports & Fitness</div>
  </div>
  <div class="row">
    <div class="c3 event">Travel</div>
    <div class="c3 event">Theater</div>
    <div class="c3 event">Outdoor</div>
    <div class="c3 event all">All the events</div>
  </div>
</div>

<div id="featured">
  <div id="featured-scrollbox">
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/400" alt="This is event name that is petty decent length"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length name that is pettyname that is pettyname that is pettyname that is petty</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price">$30-$60</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/400" alt="This is event name that is petty decent length"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length.</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price">$300-$900</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/300" alt="Another event that rocks"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length.</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price free">FREE</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/400" alt="This is event name that is petty decent length"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length name that is pettyname that is pettyname that is pettyname that is petty</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price">$30-$60</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/400" alt="This is event name that is petty decent length"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length.</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price">$300-$900</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/300" alt="Another event that rocks"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length.</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price free">FREE</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/400" alt="This is event name that is petty decent length"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length name that is pettyname that is pettyname that is pettyname that is petty</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price">$30-$60</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/400" alt="This is event name that is petty decent length"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length.</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price">$300-$900</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
    <div class="featuredbox">
      <a href="#" class="img"><img src="http://placekitten.com/300/400" alt="Another event that rocks"></a>
      <div class="info">
        <h3><a href="#">This is event name that is petty decent length.</a></h3>
        <div class="date">July 10, 2016</div>
        <div class="location">Webster Hall, New York</div>
        <div class="price free">FREE</div>
        <div class="homShare">
          <a class="matIcon" onclick="alert('Test')"><i class="material-icons">share</i></a>
          <a class="matIcon active" onclick="alert('Test')"><i class="material-icons">favorite</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--***************************-->