
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserOrgnizerStatus</title>
</head>
<body>
    <div> 
        You are not authorized to create an event. Please contact admin@eventcombo.com
    </div>
</body>
</html>
