<footer>
  <div class="footer-left">
    Lorem ipsum<br>
    dolor sit <br>
    amet, consectetur <br>
    cula at. Aliquam<br>
    interdum hendrerit<br>
    nunc ac<br>
    ullamcorper. <br>
    <br>
    Lorem ipsum<br>
    dolor sit <br>
    amet, consectetur <br>
    adipiscing elit. V<br>
    estibulum aucto<br>
    amet, consectetur <br>
    adipiscing elit. V<br>
    estibulum aucto<br>
    r elit augue, e<br>
    nunc ac<br>
    ullamcorper.
  </div>
  <div class="footer-right">Praesent non massa varius, varius magna ac, cursus velit</div>
  <div class="footerlogo"><div class="footerwhite"></div></div>
</footer>

