<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>eventcombo</title>
  <!-- Bootstrap core CSS -->
  <link href="~/Content/bootstrap.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="~/Content/eventcombo.css" rel="stylesheet" />
  <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
  <link href="~/Content/ec-select.css" rel="stylesheet" />

  <link href="~/Content/datepicker.css" rel="stylesheet" />
  <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
  <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="~/Scripts/main.js"></script>
  <script src="~/Scripts/summernote.min.js"></script>
  <script src="~/Scripts/bootstrap-datepicker.js"></script>
  <script src="~/Scripts/jquery.timepicker.js"></script>
  <script src="~/Scripts/bootstrap-multiselect.js"></script>
  <script src="~/Scripts/jquery-ui.js"></script>
  <script src="~/Scripts/ec-select.js"></script>
  <script src="~/Scripts/jquery.cookie.js"></script>
</head>
<body>
  @*Header Section*@
  <div class="container-fluid headr_main fix_head" id="mainhead">
    <div class="row">
      <div class="col-sm-6">
        <a class="logo" href="/Home/Index"><img src="~/Images/logo.png" /></a>
      </div>
      <div class="col-sm-5 head_left_nav">
        @Html.Partial("_Logout")
      </div>

      <div class="col-sm-1 text-right">
        <div class="social_icn">
          <a href="http://www.facebook.com/Eventcombo" target="_blank"><img src="~/Images/fb.png" /></a>
          <a href="http://www.twitter.com/Eventcombo" target="_blank"><img src="~/Images/tw.png" /></a>
        </div>
      </div>
      <div class="Fix_Head mt10" title="Turn on to fix header">
        <label class="switch">
          <input type="checkbox" class="switch-input" checked onchange="changeheader(this.id)" id="idchecked">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
    <div class="col-sm-12 filter_sep cont_margin">
      <img src="~/Images/desi-@HttpContext.Current.Session["logo"].ToString().Trim()-logo.gif">
      <div class="cus_left_kick"><</div>
    </div>
  </div>
  <div class="container-fluid cont_margin xspad0" id="bodysec">
    <div class="row xs-ip6">
      <div class="col-sm-2">
        <div class="affix-top" id="navtop">
          <nav class="navbar navbar-default nav_cus_main ">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed nav_btn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            @* Skip Indian code *@
            @if (true)
            {
              WriteTo(new StringWriter(), RenderSection("sidenav", false));
            }
            <div id="navbar" class="navbar-collapse collapse nav_cus">
              @Html.Partial("_ManageEventLeftMenu")
            </div>
          </nav>
        </div>
      </div>
      <div class="col-sm-10 ">
        @*<div class="midd_cont" id="midsection">*@

          @RenderBody()

        @*</div>*@
      </div>
    </div>
  </div>
  <script type="text/javascript">


    function checkPermission(PermisionId) {
    }




    function changeheader(e) {
      if ($('#idchecked').is(":checked") == true) {

        $('#mainhead').addClass('fix_head');
        $('#bodysec').addClass('cont_margin');
        $('#navtop').addClass('affix-top');
        $('#midsection').addClass('midd_cont');
        $('#eventtop').addClass('event_top');
        $('#eventtopscoll').addClass('event_top');

        $('#divsuccerr').addClass('aler_container');
        $('#eventtopscoll').addClass('viewevent_container');
      } else {
        $('#mainhead').removeClass('fix_head');
        $('#bodysec').removeClass('cont_margin');
        $('#navtop').removeClass('affix-top');
        $('#midsection').removeClass('midd_cont');
        $('#eventtopscoll').removeClass('event_top');
        $('#eventtop').removeClass('event_top');
        $('#divsuccerr').removeClass('aler_container');

        $('#eventtopscoll').removeClass('viewevent_container');
      }
    }
  </script>
</body>
</html>
