
@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="col-sm-12 mange-events">
    <!-- -- Search box open -->
    <div class="search-events fullw">
        <div class="fullw">
            <form class="fullw w-33">
                <div class="input-group custom search-label-form-group">
                    <input type="text" class="form-control" placeholder="Search for events and attendees">
                    <div class="input-group-addon">
                        <div class="search-icon">
                            <button class="fa fa-search" type="submit"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- search-events -->
    <!-- Search box close -- -->
    <!-- -- 3 tabs open -->
    <div class="event-tabs fullw pt20">
        <ul class="nav nav-tabs custom fs18" id="myTab">
            <li class="active">
                <a href="#sectionA">Events A</a>
            </li>
            <li>
                <a href="#sectionB">Events B</a>
            </li>
            <li>
                <a href="#sectionC">Events C</a>
            </li>
        </ul>
        <div class="tab-content content-tab fullw mt10">
            <div id="sectionA" class="event-1 tab-pane custom fade in active">
                <div class="col-sm-12 main-sec">
                    <div class="row">
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                    </div>
                </div><!-- main-sec -->
            </div>
            <div id="sectionB" class="event-2 tab-pane custom fade">
                <div class="col-sm-12 main-sec">
                    <div class="row">
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                    </div>
                </div><!-- main-sec -->
            </div>
            <div id="sectionC" class="event-3 tab-pane custom fade">
                <div class="col-sm-12 main-sec">
                    <div class="row">
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                        <div class="fullw tab-mid-content rows">
                            <div class="col-sm-6 event-name text-left fs20">
                                <span>Event name</span>
                            </div>
                            <div class="col-sm-2 event-date text-center fs16">
                                <span>Event Date</span>
                            </div>
                            <div class="col-sm-4 event-action text-right">
                                <div class="event-btn-action">
                                    <a href="" class="btn-link manage">
                                        <i class="icon manage glyphicon glyphicon-pencil"></i> Manage
                                    </a>
                                    <a href="" class="btn-link edit">
                                        <i class="icon edit glyphicon glyphicon-pencil"></i> Edit
                                    </a>
                                    <a href="" class="btn-link view">
                                        <i class="icon view glyphicon glyphicon-pencil"></i> View
                                    </a>
                                </div>
                            </div>
                        </div><!-- tab-mid-content rows-->
                    </div>
                </div><!-- main-sec -->
            </div>
        </div><!-- tab-content content-tab -->
    </div><!-- event-tabs -->
    <!-- 3 tabs close -- -->
</div>

