
@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="col-sm-12">
    <h3 class="acnt_title">Manage Event</h3>
</div>
<div class="clearfix"></div>
<div class="col-sm-12 mange-events">
    <!-- -- Search box open -->
        <div class="col-sm-6 no_pad">
            <form>
                <div class="input-group custom ">
                    <input type="text" class="form-control mng-evnt-search" placeholder="Search for events and guests">
                    <div class="input-group-addon">
                        <div class="search-icon">
                            <button class="fa fa-search" type="submit"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
   
    <!-- Search box close -- -->
    <!-- -- 3 tabs open -->
    <div class="col-sm-12 row">
        <div class="col-sm-12 no_pad mb10">
            <h3 class="acnt_title">Events</h3>
        </div>
        <div class="col-sm-12  custom fs18 no_pad" id="myTab">
            <ul class="nav nav-tabs evnt-mng-tab">
                <li class="active">
                    <a href="#sectionA">Live Events (2)</a>
                </li>
                <li class="">
                    <a href="#sectionB">Saved Drafts (3)</a>
                </li>
                <li class="">
                    <a href="#sectionC">Past Events (4)</a>
                </li>
           </ul>
        </div>
        
            <div class="tab-content mt10">
                <div id="sectionA" class="tab-pane active">
                  
                        <table class="table fs20 mb0">
                            <thead>
                                <tr>
                                    <th class="evnt_mng_tit_200">Event Title</th>
                                    <th>Event Date /Time</th>
                                    <th>Ticket Sold / Total No.</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="evnt_mng_tit_200">Event Title</td>
                                    <td>10th Aug 2015 / 10:00am</td>
                                    <td>24/100</td>
                                    <td class="text-center">
                                        <div class="event-btn-action">
                                            <a href="" class="btn-link manage">
                                               Manage
                                            </a>
                                            <a href="" class="btn-link edit">
                                               Edit
                                            </a>
                                            <a href="" class="btn-link view">
                                               View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                    <!-- main-sec -->

                </div>
                <div id="sectionB" class="tab-pane">
                    <table class="table fs20 mb0">
                            <thead>
                                <tr>
                                    <th class="evnt_mng_tit_200">Event Title</th>
                                    <th>Event Date /Time</th>
                                    <th>Ticket Sold / Total No.</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="evnt_mng_tit_200">Event Title</td>
                                    <td>10th Aug 2015 / 10:00am</td>
                                    <td>24/100</td>
                                    <td class="text-center">
                                        <div class="event-btn-action">
                                            <a href="" class="btn-link manage">
                                                Manage
                                            </a>
                                            <a href="" class="btn-link edit">
                                                Edit
                                            </a>
                                            <a href="" class="btn-link view">
                                                View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="evnt_mng_tit_200">Event Title</td>
                                    <td>10th Aug 2015 / 10:00am</td>
                                    <td>24/100</td>
                                    <td class="text-center">
                                        <div class="event-btn-action">
                                            <a href="" class="btn-link manage">
                                                Manage
                                            </a>
                                            <a href="" class="btn-link edit">
                                                Edit
                                            </a>
                                            <a href="" class="btn-link view">
                                                View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table><!-- main-sec -->
                </div>
                <div id="sectionC" class="tab-pane">
                    <table class="table fs20 mb0">
                            <thead>
                                <tr>
                                    <th class="evnt_mng_tit_200">Event Title</th>
                                    <th>Event Date /Time</th>
                                    <th>Ticket Sold / Total No.</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="evnt_mng_tit_200">Event Title</td>
                                    <td>10th Aug 2015 / 10:00am</td>
                                    <td>24/100</td>
                                    <td class="text-center">
                                        <div class="event-btn-action">
                                            <a href="" class="btn-link manage">
                                                Manage
                                            </a>
                                            <a href="" class="btn-link edit">
                                                Edit
                                            </a>
                                            <a href="" class="btn-link view">
                                                View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="evnt_mng_tit_200">Event Title</td>
                                    <td>10th Aug 2015 / 10:00am</td>
                                    <td>24/100</td>
                                    <td class="text-center">
                                        <div class="event-btn-action">
                                            <a href="" class="btn-link manage">
                                                Manage
                                            </a>
                                            <a href="" class="btn-link edit">
                                                Edit
                                            </a>
                                            <a href="" class="btn-link view">
                                                View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="evnt_mng_tit_200">Event Title</td>
                                    <td>10th Aug 2015 / 10:00am</td>
                                    <td>24/100</td>
                                    <td class="text-center">
                                        <div class="event-btn-action">
                                            <a href="" class="btn-link manage">
                                                Manage
                                            </a>
                                            <a href="" class="btn-link edit">
                                                Edit
                                            </a>
                                            <a href="" class="btn-link view">
                                                View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table><!-- main-sec -->
                </div>
                
                <!-- tab-content content-tab 2 -->
                
            </div><!-- tab-content content-tab 1 -->
    
            <div class="col-sm-12 no_pad mt10">
                <div class="col-sm-12 no_pad mb5">
                    <h3 class="acnt_title">Guests</h3>
                </div>
                <div class="col-sm-12 row">
                    <div class="table-responsive">
                    <table class="table fs20">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Event Name</th>
                                <th>Date-Time</th>
                                <th>Order Number</th>
                                <th>Ticket Type / Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>User Name</td>
                                <td>abc@xyz.com</td>
                                <td>Event Name</td>
                                <td>10th Aug 2015 10:00am</td>
                                <td>289373737823</td>
                                <td>Free / 100</td>
                                
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div><!-- event-tabs -->
    <!-- 3 tabs close -- -->
</div>

