
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="DealCustomers">
    <h3>Customers</h3>
    <div><img src="~/Images/deal-customers-FPO.jpg" alt="FPO" width="768" height="264"></div>
</div>
<script>
    $(document).ready(function () {
        $('#dealnav').click();
        $('#dvmngdeal').addClass("active");
        $('#dvmngdeal b').addClass('opened new-opend');

        $('#dvmngdeal').click(function (e) {
            var $dvEle = $('#dvmngdeal b');
            var vclassname = $dvEle.attr('class');
            //alert($dvEle.hasClass("new-opend"));
            if ($dvEle.hasClass("new-opend")) {
                $dvEle.removeClass('opened new-opend').addClass('closed');
            }
            else {
                $dvEle.addClass('opened new-opend');
            }
        });

    });

</script>
