
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="DealCustomers">
    <h3>Customers</h3>
    <div><img src="~/Images/deal-customers-FPO.jpg" alt="FPO" width="768" height="264"></div>
</div>

