
@{
    ViewBag.Title = "EventHelp";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="EventHelp">
    <h3>Events Help</h3>
    <div> </div>
    <div class="clearboth" style="margin:10px;"></div>
</div>

