
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="DealFeedback">
    <h3>Feedback</h3>
    <div> <img src="images/deal-feedback-FPO.jpg" alt="FPO" width="885" height="1601"></div>
</div>
