
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="DealFeedback">
    <h3>Feedback</h3>
    <div> <img src="images/deal-feedback-FPO.jpg" alt="FPO" width="885" height="1601"></div>
</div>
<script>
    $(document).ready(function () {
        $('#dealnav').click();
        $('#dvmngdeal').addClass("active");
        $('#dvmngdeal b').addClass('opened new-opend');

        $('#dvmngdeal').click(function (e) {
            var $dvEle = $('#dvmngdeal b');
            var vclassname = $dvEle.attr('class');
            if ($dvEle.hasClass("new-opend")) {
                $dvEle.removeClass('opened new-opend').addClass('closed');
            }
            else {
                $dvEle.addClass('opened new-opend');
            }
        });

    });

</script>