
@{
    ViewBag.Title = "ImpactReport";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="DealImpactReport">
    <h3>Impact Report</h3>
    <div> <img src="~/Images/deal-impact-report-FPO.jpg" alt="FPO" width="881" height="873"></div>
</div>

