
@{
    ViewBag.Title = "InvoiceHistory";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="DealInvoiceHistory">
    <h3>Invoice History</h3>
    <div><img src="~/Images/deal-invoice-history-FPO.jpg" alt="FPO" width="890" height="601"></div>
</div>

