
@{
    ViewBag.Title = "PastEvents";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="EventPastEvents">
    <h3>Past Events</h3>
    <div class="eventList titles"> <span class="eventName">Name</span><span class="eventDate">Date <img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventTix">Tickets Sold</span><span class="eventLinks">Quick Links</span> </div>
    <div class="eventList">
        <span class="eventName">My test event</span><span class="eventDate">Nov. 28, 2013</span><span class="eventTix">100</span><span class="eventLinks">Manage | <a href="#">Edit</a> | <a href="event.php">View</a> | Invite | <a href="#" class="ShowAnalytics">Analytics</a></span>
        <div class="eventAnalytics"> <img src="~/Images/ANALYTICS_FPO.jpg" alt="Analytics FPO" width="1096" height="1056"> </div>
    </div>
    <div class="eventList odd">
        <span class="eventName">My test event</span><span class="eventDate">Nov. 28, 2013</span><span class="eventTix">100</span><span class="eventLinks">Manage | <a href="#">Edit</a> | View | Invite | <a href="#" class="ShowAnalytics">Analytics</a></span>
        <div class="eventAnalytics"> <img src="~/Images/ANALYTICS_FPO.jpg" alt="Analytics FPO" width="1096" height="1056"> </div>
    </div>
    <div class="eventList">
        <span class="eventName">My test event</span><span class="eventDate">Nov. 28, 2013</span><span class="eventTix">100</span><span class="eventLinks">Manage | <a href="#">Edit</a> | View | Invite | <a href="#" class="ShowAnalytics">Analytics</a></span>
        <div class="eventAnalytics"> <img src="~/Images/ANALYTICS_FPO.jpg" alt="Analytics FPO" width="1096" height="1056"> </div>
    </div>
    <div class="eventList odd">
        <span class="eventName">My test event</span><span class="eventDate">Nov. 28, 2013</span><span class="eventTix">100</span><span class="eventLinks">Manage | <a href="#">Edit</a> | View | Invite | <a href="#" class="ShowAnalytics">Analytics</a></span>
        <div class="eventAnalytics"> <img src="~/Images/ANALYTICS_FPO.jpg" alt="Analytics FPO" width="1096" height="1056"> </div>
    </div>
    <div class="eventList">
        <span class="eventName">My test event</span><span class="eventDate">Nov. 28, 2013</span><span class="eventTix">100</span><span class="eventLinks">Manage | <a href="#">Edit</a> | View | Invite | <a href="#" class="ShowAnalytics">Analytics</a></span>
        <div class="eventAnalytics"> <img src="~/Images/ANALYTICS_FPO.jpg" alt="Analytics FPO" width="1096" height="1056"> </div>
    </div>
    <div class="eventList odd">
        <span class="eventName">My test event</span><span class="eventDate">Nov. 28, 2013</span><span class="eventTix">100</span><span class="eventLinks">Manage | <a href="#">Edit</a> | View | Invite | <a href="#" class="ShowAnalytics">Analytics</a></span>
        <div class="eventAnalytics"> <img src="~/Images/ANALYTICS_FPO.jpg" alt="Analytics FPO" width="1096" height="1056"> </div>
    </div>
    <div class="clearboth" style="margin:10px;"></div>
</div>
