
@{
    ViewBag.Title = "PurchasedTicket";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>MY PURCHASED TICKET</h2>

<div>
    <div class="eventList titles"><span class="eventOrderNumber">Order Number <img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventName">Name <img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventDate">Date <img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventQty">Qty. </span><span class="eventTotal">Total Paid</span><span class="eventLinks">Quick Links</span> </div>
    <div class="eventList"><span class="eventOrderNumber">5648465</span><span class="eventName"><a href="#" target="_blank">My test event</a></span><span class="eventDate">November 16, 2013</span><span class="eventQty">5</span><span class="eventTotal">$50.00 </span><span class="eventLinks">View | Invite </span> </div>
    <div class="eventList odd"><span class="eventOrderNumber">5648465</span><span class="eventName"><a href="#" target="_blank">My test event</a></span><span class="eventDate">November 1, 2013</span><span class="eventQty">1</span><span class="eventTotal">$23.54</span><span class="eventLinks">View | Invite </span> </div>
    <div class="clearboth" style="margin:10px;"></div>
</div>