
@{
    ViewBag.Title = "PurchasedDeals";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h3>MY Purchased Deals</h3>
<div>
    <div class="eventList titles"> <span class="eventOrderNumber"> Order Number <img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventName">Name <img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventDate">Date <img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventStatus">Status<img src="~/Images/arrow-down.png" width="12" height="10"></span><span class="eventQty">Qty.</span><span class="eventTotal">Total Paid</span><span class="eventLinks">Quick Links</span> </div>
    <div class="eventList"><span class="eventOrderNumber">5648465</span><span class="eventName"><a href="#" target="_blank">My test deal</a></span><span class="eventDate">November 1, 2013</span><span class="eventStatus live">Redeemed</span><span class="eventQty">1</span><span class="eventTotal">$23.54</span><span class="eventLinks">View | Share</span> </div>
    <div class="eventList odd"><span class="eventOrderNumber">5648465</span><span class="eventName"><a href="#" target="_blank">My test deal</a></span><span class="eventDate">November 1, 2013</span><span class="eventStatus upcoming">Pending</span><span class="eventQty">1</span><span class="eventTotal">$23.54</span><span class="eventLinks">View | Share</span> </div>
    <div class="clearboth" style="margin:10px;"></div>
</div>

<script>
    $(document).ready(function () {
        $('#mgacnt').click();
        $('#dvacmang').addClass("active");
        $('#dvacmang b').addClass('opened new-opend');
        $('#dvacmang').click(function (e) {
            var $dvEle = $('#dvacmang b');
            var vclassname = $dvEle.attr('class');
            if ($dvEle.hasClass("new-opend")) {
                $dvEle.removeClass('opened new-opend').addClass('closed');
            }
            else {
                $dvEle.addClass('opened new-opend');
            }
        });
    });
</script>
