<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Eventcombo Admin</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>


    @*<link rel="stylesheet" type="text/css" href="~/plugins/footable/css/footable.core.min.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/magnific/magnific-popup.css">*@


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/skin/default_skin/css/event_combo.css">
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin-tools/admin-forms/css/admin-forms.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    @if (ViewContext.RouteData.Values["Controller"].ToString() == "BusinessPages")
    {
        <script src="https://cdn.ckeditor.com/4.5.9/full-all/ckeditor.js"></script>
    }
    else
    {
        <script src="https://cdn.ckeditor.com/4.5.2/standard-all/ckeditor.js"></script>
    }
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.timepicker.js"></script>
</head>

<body class="dashboard-page">

    <!-- Start: Main -->
    <div id="main">
        <!-- Start: Header -->
        <header class="navbar navbar-fixed-top navbar-shadow">
            <div class="navbar-branding">
                <a class="navbar-brand" href="~/Home/Dashboard">
                    <b>Event</b>combo
                </a>
                <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
            </div>

            <form class="navbar-form navbar-left navbar-search alt" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..." value="Search...">
                </div>
            </form>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown menu-merge">
                        <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">


                            @*<img src="@{Html.RenderAction("UserImage", "Home");}" alt="avatar" class="mw30 br64">*@
                            <span class="hidden-xs pl15 ">@{Html.RenderAction("UserName", "Home");}</span>
                            <span class="caret caret-tp hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">

                            <li class="dropdown-footer">

                                <a href="javascript:document.getElementById('logoutForm').submit()" class="">
                                    <span class="fa fa-power-off pr5"></span> Logout
                                </a>

                            </li>
                        </ul>
                    </li>
                </ul>
}
        </header>

        <!-- Start: Sidebar -->
       @{ Html.RenderAction("LeftMenu", "Home"); }
        <!-- End: Sidebar Left -->
        <!-- Start: Content-Wrapper -->
        @RenderBody()
    </div>
    <!-- End: Main -->
    <!-- BEGIN: PAGE SCRIPTS -->
    <!-- jQuery -->

    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap Tabdrop Plugin -->
    <script src="~/plugins/tabdrop/bootstrap-tabdrop.js"></script>
    @*<script src="~/plugins/ckeditor/ckeditor.js"></script>*@
    <!-- Theme Javascript -->
    <script src="~/assets/js/utility/utility.js"></script>
    <script src="~/assets/js/demo/demo.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- Widget Javascript -->
    <script src="~/plugins/magnific/jquery.magnific-popup.js"></script>

    <!-- FooTable Addon -->
    <script src="~/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/plugins/footable/js/footable.filter.min.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {




            "use strict";

            // Init Theme Core
            Core.init();

            // Init Demo JS
            //Demo.init();



            $('.footable').footable();

            var modalContent = $('#modal-content');

            function findActive() {
                var activeModal = modalContent.find('.holder-active').attr('href');
                return activeModal;
            };

            // Form Skin Switcher



            $('.animation-switcher button').on('click', function () {
                $('.animation-switcher').find('button').removeClass('active-animation');
                $(this).addClass('active-animation item-checked');

                // Inline Admin-Form example
                $.magnificPopup.open({
                    removalDelay: 500, //delay removal by X to allow out-animation,
                    items: {
                        src: findActive()
                    },
                    // overflowY: 'hidden', //
                    callbacks: {
                        beforeOpen: function (e) {
                            var Animation = $(".animation-switcher").find('.active-animation').attr('data-effect');
                            this.st.mainClass = Animation;
                        }
                    },
                    midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.

                });

            });



            $('.admin-panels').adminpanel({
                onFinish: function () {
                    $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');
                },

            });



            $('#multiselect2').multiselect({
                includeSelectAllOption: true
            });

            CKEDITOR.disableAutoInline = true;

            //// Init Ckeditor
            //CKEDITOR.replace('ckeditor1', {
            //    height: 210,
            //    on: {
            //        instanceReady: function (evt) {
            //            $('.cke').addClass('admin-skin cke-hide-bottom');
            //        }
            //    },
            //});

            //// Init Inline Ckeditors
            //CKEDITOR.inline('ckeditor-inline2');

        });


        jQuery(document).ready(function () {

            $('.sub-nav > li a').click(function () {
                $('.accordion-toggle').addClass('menu-open');

            });
            jQuery(".panel-heading .panel-controls").prepend('<a class="srh_filter" href="#">Search</a>');


        });

    </script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50065120-1', 'auto');
  ga('send', 'pageview');

    </script>
    <!-- END: PAGE SCRIPTS -->

</body>

</html>
