@using EventCombo.Models
@using EventCombo.Service
@model BaseViewModel
@{
  Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section CSSSection
{
}

@section ScriptSection
{
}

@section ScriptFooterSection
{
  <script type="text/javascript">
    var fbappid = '@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]'

    // init the FB JS SDK
    window.fbAsyncInit = function () {
      FB.init({
        appId: fbappid,                        // App ID from the app dashboard
        status: true,                          // Check Facebook Login status
        xfbml: true,                           // Look for social plugins on the page
        version: '2.7'
      });

    };
    // Load the SDK asynchronously
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
}
<!--***************************-->
<div class="red-heading" style="min-height:200px">
  PUT YOUR CODE HERE<br />
  THIS DIV JUST TO CREATE NECESSARY SPACE BETWEEN HEADER AND FOOTER<br />
  REMOVE IT, PLEASE
</div>
<!--***************************-->
