
@model CMS.Models.EventType

@{
    ViewBag.Title = "EventType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content_wrapper">    
    @using (Html.BeginForm())
    {
        <div class="col-sm-12">
            <h2>EventType</h2>
            <style>
                .event-type {
                    display: inline-block;
                    width: 100%;
                    float: left;
                    position: relative;
                }
.event-type label, .event-type div {
    display: inline-block;
    float: none;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
}

.event-type label {width:8%;}
.event-type div {width:17%;}
.event-type .button_type-event {width:70%;    margin-left: 1%;}
.event-type .button_type-event .btn{margin: 0 auto; width: 75px;}
.select_types-edit {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 7.5%;
}
.select_types-edit select {width:30%; height: 200px;}

</style>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-micro alert-border-left alert-success pastel alert-dismissable mn mb5" id="divsuccc">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-info pr10"></i> <span id="spanid"> @TempData["SuccessMessage"]</span>
                </div>
            }

            <div class="form-group event-type">
                <label class="col-md-2 control-label acnt_form_label ">Event Type</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.EventType1, new { @maxlength = 35, @class = "form-control" })
                </div>
                <div class="button_type-event">
                    <button type="submit" name="submit" value="Create" class="btn btn-info col-md-offset-3 acnt_btn" id="btnCreate">Create</button>
                    <button type="submit" name="submit" value="Edit" class="btn btn-info col-md-offset-3 acnt_btn" id="btnEdit">Edit</button>
                    <button type="submit" name="submit" value="Delete" class="btn btn-info acnt_btn" id="btnDelete">Delete</button>
                    <button type="submit" name="submit" value="Reset" class="btn btn-info acnt_btn" id="btnReset">Reset</button>
                </div>
            </div>
           
            <div class="form-group select_types-edit">
                <div class="col-md-9">                    
                    @Html.ListBox("EventTypeListBox",new SelectList(ViewBag.EventType), new { @class="form-control"})
                </div>
            </div>
        </div>
    }
</section>

<script type="text/javascript">

    $(window).load(function () {
        $("#btnEdit").hide();
        $("#btnDelete").hide();
        $("#btnReset").hide();
    });

    $(document).ready(function () {
      
        
        //$('#btnCreate').click(function () {
        //    var newListValue = $('#EventType1').val();
        //    if ($.trim(newListValue) != '') {
        //        $('#EventTypeListBox').append('<option>' + newListValue + '</option>');
        //    }
        //});

        $("#EventTypeListBox option").click(function () {
            var _this = $(this);
            $("#EventType1").val($(_this).text());
            $("#btnCreate").hide();
            $("#btnEdit").show();
            $("#btnDelete").show();
            $("#btnReset").show();
            $("#divsuccc").hide();
        });

        $('#btnReset').click(function () {
            $("#EventType1").val("");
            $("#btnCreate").show();
            $("#btnEdit").hide();
            $("#btnDelete").hide();
        });
    });
</script>