
@{
    ViewBag.Title = "Dream Team Live in Concert in Chicago, Los Angeles, New Jersey Featuring Katrina Kaif, Varun, Alia, Sidharth, Karan, Aditya, Badshah and Parineeti, 25 Lafayette Street, Newark, NJ 07102, United States | Eventcombo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="mainContainer">
        <header>
            <h1 class="eventMainHead1">Dream Team Tour August - September 2016</h1>
            <h2 class="eventMainHead2">Featuring Katrina Kaif, Varun, Alia, Sidharth, Karan, Aditya, Badshah, Parineeti and More!</h2>
        </header>

            <article class="innerContainer">
                <header>
                    <div class="leftImgCon">
                        <div class="leftConTxt">
                            <div class="leftConTxt1">FRI</div>
                            <div class="leftConTxt2">19</div>
                            <div class="leftConTxt3">AUG</div>
                        </div>
                        <div class="leftConImg">
                            <img src="~/Images/DreamTeam/img2.jpg" alt="DREAM TEAM Live in Concert in CHICAGO Featuring Katrina Kaif, Varun, Alia, Sidharth, Karan, Aditya, Badshah and Parineeti..." />
                        </div>

                    </div>
                </header>
                <div class="EventDetailCon">
                    <h2 class="EDHeading">Hoffman Estates, IL</h2>
                    <p class="EDDesp">DREAM TEAM Live in Concert in CHICAGO Featuring Katrina Kaif, Varun, Alia, Sidharth, Karan, Aditya, Badshah and Parineeti...</p>
                    <div class="EDDateTime">
                        <div class="dateCon">
                            <img src="~/Images/DreamTeam/calendar.png" />
                            <span class="dateText">Aug 19, 2016</span>
                        </div>
                        <div class="timeCon">
                            <span class="timeAt">@Html.Encode("@")</span>
                            <span class="timeText">7:00 PM</span>
                        </div>
                    </div>
                    <div class="EDBookBtn">
                        <a href="/e/DREAM-TEAM-Live-in-Concert-in-CHICAGO-Featuring-Katrina-Kaif,-Varun,-Alia,-Sidharth,-Karan,-Aditya,-Badshah-and-Parineeti-24585" class="EDBookBtnAnchor">Book Tickets</a>
                    </div>
                </div>
            </article>
            <article class="innerContainer">
                <header>
                    <div class="leftImgCon">
                        <div class="leftConTxt">
                            <div class="leftConTxt1">SAT</div>
                            <div class="leftConTxt2">20</div>
                            <div class="leftConTxt3">AUG</div>
                        </div>
                        <div class="leftConImg">
                            <img src="~/Images/DreamTeam/img1.jpg" alt="Dream Team Live in Concert with Katrina Kaif, Parineeti, Alia, Aditya, Karan Johar, Varun, Sidharth" />
                        </div>

                    </div>
                </header>
                <div class="EventDetailCon">
                    <h2 class="EDHeading">Inglewood, CA</h2>
                    <p class="EDDesp">Dream Team Live in Concert with Katrina Kaif, Parineeti, Alia, Aditya, Karan Johar, Varun, Sidharth...</p>
                    <div class="EDDateTime">
                        <div class="dateCon">
                            <img src="~/Images/DreamTeam/calendar.png" alt="" />
                            <span class="dateText">Aug 20, 2016</span>
                        </div>
                        <div class="timeCon">
                            <span class="timeAt">@Html.Encode("@")</span>
                            <span class="timeText">7:30 PM</span>
                        </div>
                    </div>
                    <div class="EDBookBtn">
                        <a href="/e/dream-team-live-in-concert-with-katrina-kaif-parineet-24874" class="EDBookBtnAnchor">Book Tickets</a>
                    </div>
                </div>
            </article>
            <article class="innerContainer">
                <header>
                    <div class="leftImgCon">
                        <div class="leftConTxt" style="background-color:#888;">
                            <div class="leftConTxt1">SUN</div>
                            <div class="leftConTxt2">21</div>
                            <div class="leftConTxt3">AUG</div>
                        </div>
                        <div class="leftConImg">
                            <img src="~/Images/DreamTeam/img3.jpg" alt="DREAM TEAM Live in Concert in NEW JERSEY Featuring Katrina Kaif, Varun, Alia, Sidharth, Karan, Aditya, Badshah and Parineeti..." />
                        </div>

                    </div>
                </header>

                <div class="EventDetailCon">
                    <h2 class="EDHeading">Newark, NJ</h2>
                    <p class="EDDesp">DREAM TEAM Live in Concert in NEW JERSEY Featuring Katrina Kaif, Varun, Alia, Sidharth, Karan, Aditya, Badshah and Parineeti...</p>
                    <div class="EDDateTime">
                        <div class="dateCon">
                            <img src="~/Images/DreamTeam/calendar.png" alt="" />
                            <span class="dateText">Aug 21, 2016</span>
                        </div>
                        <div class="timeCon">
                            <span class="timeAt">@Html.Encode("@")</span>
                            <span class="timeText">7:00 PM</span>
                        </div>
                    </div>
                    <div class="EDBookBtn">
                        <a href="/e/dream-team-live-in-concert-in-new-jersey-featuring-kat-24740" class="EDBookBtnAnchor">Book Tickets</a>
                    </div>
                </div>
            </article>

        <br />
        <br />
    </section>

