@{
    ViewBag.Title = "Index";
}


<style type="text/css">
    .entrmntHeaderImg{
        height:150px;
        border: 1px solid #c1c1c1;
    }

    .entrmntHeaderImg img{
        width:100%;
        height:100%;
    }

    .entrmentPersonName{
        font-weight: bold;
        font-size: 35px;
    }

    .entrmentFollowTwitter {
        font-size: 16px;
        margin-top: 21px;
    }

    .entrmentHeaderQuestionContainer{
        margin-top:10px;
    }

    .entrmentHeaderQuestion{
        font-weight:bold;
    }

    .entrmentHeaderAnswerContainer{
        margin-bottom: 20px;
    }

    .entrmentHeaderAnswer{
        font-size: 17px;
        text-align: justify;
    }

    .entrmntLastestNewsTxt{
        font-size: 20px;
        margin: 0px 15px 20px 15px;
        background-color: #00CAFD;
        color: #fff;
        text-align: center;
        padding: 10px 0px;
    }

    .newsContentImg img{
        width:100%;
    }

    .newsContentText{
        color: #333;
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
    }

    .newsContentInnerCon{
        border: 1px solid #888;
        padding: 5px;
        display: block;
        max-width: 250px;
        text-align: center;
        margin: 0px auto;
    }

    .newsContentDetailCon{
        margin-bottom:20px;
    }

    .photoGallaryContainerTxt{
        font-size: 20px;
        background-color: #00CAFD;
        color: #fff;
        text-align: center;
        padding: 10px 0px;
    }

    .discussionFbContainerTxt{
        font-size: 20px;
        background-color: #00CAFD;
        color: #fff;
        text-align: center;
        padding: 10px 0px;
    }

    .photoGallaryContent img{
        width:100%;
        height:100%;
    }

    .photoGallaryContent{
        padding-left: 0px;
        margin: 20px 0px;
        height: 250px;
        overflow:hidden;
    }

    .imageGallaryAnchorCls {
        display: block;
        max-width: 250px;
        text-align: center;
        margin: 0px auto;
    }

    .sliderImgGallary{
        width:100%;
        height:100%;
    }

    .fb-comments, .fb-comments iframe[style], .fb-comments span {
       width: 100% !important;
    }

    .fb-page, .fb-page iframe[style], .fb-page span {
        width: 100% !important;
    }
</style>

<script type="text/javascript">
    $(document).on("click", ".imageGallaryAnchorCls", function () {
        var imageID = $(this).data('id');
        $('.gallarySliderClass').removeClass('active');
        $("#gallarySlider" + imageID).addClass('active');
    });

</script>

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>





<div class="container-fluid cont_margin no-padding con_scr0l_home" id="entertainmentContainer">
    <div class="col-md-8 col-sm-8 col-xs-12 entrmentDetailContent">
        <div class="entrnmtHeaderContainer">
            <div class="col-md-3 col-sm-3 col-xs-5 entrmntHeaderImg">
                <img src="~/Images/mrblank.jpg" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-7 entrmntHeaderName">
                <div class="entrmentPersonName">Rob Quinn</div>
                <div class="entrmentNameTime">12:01PM EST November 15, 2013</div>
                <div class="entrmentFollowTwitter">follow me on <a href="javascript:void(0)" class="followOnTwitterAnchor">Twitter</a></div>
                <div class="entrmntSocialIcon"><img src="~/Images/SOCIAL-ICONS_FPO.png" /></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 entrmentHeaderQuestionContainer">
                <h1 class="entrmentHeaderQuestion">Adrienne Maloof's New Boyfriend Is 24-Year-Old Jacob Busch</h1>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 entrmentHeaderAnswerContainer">
                <h5 class="entrmentHeaderAnswer">
                    Former "Real Housewives of Beverly Hills" star and Palms mogul Adrienne Maloof has landed herself another young beau. This time, the lucky man is 24-year-old Anheuser-Busch heir, Jacob Busch.<br /><br />
                    Maloof debuted her new boyfriend at Star magazine's "Scene Stealers" event, held at the Roosevelt Hotel in Hollywood Tuesday, Oct. 1. The two hit the red carpet together and then shared some kisses inside the bash, Us Weekly noted.<br /><br />
                    The 52-year-old reality star and her man weren't shy about promoting her Zing vodka, or packing on the PDA.The 52-year-old reality star and her man weren't shy about promoting her Zing vodka, or packing on the PDA.<br /><br />
                    "Adrienne couldn't keep her hands off Jacob," a partygoer told the Daily Mail. "There was little doubt that the pair are crazy for each other. They never left each other's side and were holding hands sitting by the pool chatting and giggling like teenagers in love."<br /><br />
                    Despite the 28-year age difference and the fact that he is just slightly older than a recent college graduate, Maloof and Busch are supposedly a great match.<br /><br />
                    "It's real, it's genuine, they're very natural together," a source told E! News of the relationship. "They have fun together and he treats her like a princess."<br /><br />
                    Following her divorce from Dr. Paul Nassif, Maloof began dating 33-year-old Sean Stewart, son of rocker Rod Stewart, earlier this year. At the time, she defended the relationship, saying that "age is just a number." The two wound up splitting in March.
                </h5>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 photoGallaryContainer">
            <div class="photoGallaryContainerTxt">Photo Gallary</div>
            <div class="col-md-6 col-sm-6 col-xs-12 photoGallaryContent">
                <a href="javascript:void(0)" data-id="1" data-toggle="modal" data-target=".bs-example-modal-md" class="imageGallaryAnchorCls">
                    <img src="~/Images/gallary1.jpg" />
                </a>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 photoGallaryContent">
                <a href="javascript:void(0)" data-id="2" data-toggle="modal" data-target=".bs-example-modal-md" class="imageGallaryAnchorCls">
                    <img src="~/Images/gallary1.jpg" />
                </a>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 photoGallaryContent">
                <a href="javascript:void(0)" data-id="3" data-toggle="modal" data-target=".bs-example-modal-md" class="imageGallaryAnchorCls">
                    <img src="~/Images/gallary1.jpg" />
                </a>
            </div>

            <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div id="gallarySlider1" class="gallarySliderClass item active">
                                    <img class="img-responsive sliderImgGallary" src="~/Images/gallary1.jpg">
                                </div>
                                <div id="gallarySlider2" class="gallarySliderClass item">
                                    <img class="img-responsive sliderImgGallary" src="~/Images/gallary1.jpg">
                                </div>
                                <div id="gallarySlider3" class="gallarySliderClass item">
                                    <img class="img-responsive sliderImgGallary" src="~/Images/gallary1.jpg">
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="top:50%;">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="top:50%;">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 discussionFbContainer">
            <div class="discussionFbContainerTxt">Discussion</div>
            <div id="fb-root"></div>
            <div class="fb-comments" data-href="http://eventcombo.net/eventcombo" data-width="404" data-numposts="5"></div>

        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 entrmntLastestNews">
        <div class="entrmntLastestNewsTxt">Popular Stories</div>
        <div class="entrmntLastestNewsContent">
            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 newsContentDetailCon">
                <div class="newsContentInnerCon">
                    <a href="javascript:void(0)">
                        <div class="newsContentImg">
                            <img src="~/Images/event1.jpg" />
                        </div>
                        <div class="newsContentText">
                            Test new data to display news question within this space
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
