h1,h2,h3,h4,h5,h6,div,p,span,a{ word-break:break-all}
.event_email_cont{
	background: #fff;
}
.em_bor_bot{ border-bottom: 1px solid #e5e5e5 !important;}
.em_bor_bot:last-child{border-bottom: 0px !important;}

.wel_tem_name{ margin-top: 5px; border:0px; background: #fafafa; padding: 0 5px;}
.err-bor{ border-color: red !important;}


.fl-lft{ float: left !important;}

.top_nav{ margin-top: 0px;}
  .top_nav_right{ margin-right: 0px !important;}

.fl-lft{ float: left;}
.eml-ellps{  
 max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.eml-ellps-wid{ max-width:200px !important;}

.bg_white{ background:#fff;}
.mb_0{ margin-bottom: 0px;}
.view_evnt{ font-weight: 300;  color: #626262;}
.view_sel_wid ul{ min-width: 130px;}
.view_sel_wid button{ min-width: 130px;}
.aler_center1{ width:400px; float: left;  position:absolute; z-index: 9999; text-align: center;  
top: 40%; left: 30%; border:1px solid #e2e2e2; display: none; }
.aler_center_inner{ width: 100%; float: left;background:#fafafa; text-align: center; padding: 20px 0; }

.srh_filter{ width:50px !important;font-size: 14px !important; color:#666666 !important;}
.srh_filter:hover{ color:#666666; opacity: 0.7 !important; }
.srh-by-no{ margin-top: 15px;}
.panel_loader .panel-controls a.panel-control-loader{ display: none !important;}


.catbg{ background: #f5f5f5; border-radius: 2px; padding: 7px 5px; border: 1px solid #e3e3e3; }
.crt-cat-form{ height: 32px; line-height: 1; padding: 5px 12px; }
.sub-cat-mar{ margin-bottom: 2px; padding: 0px; }
.crt-subcat2{ padding-bottom: 5px; }
.crt-subcat{ margin-top: 5px;margin-bottom:0px; padding-bottom: 10px; }
.nopad{ padding:0px; }
.sub-cat-main-cont{ min-height: 50px; max-height: 70px; overflow: auto; }
.add-cat-pop{ display: inline-block !important; padding: 0px !important; }
.add-cat-pop:hover{ background: none !important; }
.add-cat-nav > li > a:hover, .add-cat-nav > li > a:focus{ background: none !important; }
.add-cat-nav .open > a, .add-cat-nav .open > a:hover, .add-cat-nav .open > a:focus { background: none !important; }
.dropdown-menu-cus{ box-shadow: none !important;position: relative !important; }

.modal-open .cont-modal-cus{ overflow-y:hidden; }
.cont-scrol{ min-height:100px; max-height:150px; overflow:auto; }

.sornone.footable-sortable .footable-sort-indicator{ display:none; }

.no_pad{ padding: 0px; }
.mt10{ margin-top:10px; }
.pay_dollar_btn{ background:none; font-size: 16px; box-shadow:none; border:0px; color:#666666; padding: 0px; }
.pay_dollar_btn:hover{ color: #666666; background:none; }
.Payment-form-body{ background:#fff; }
.admin-form.Payment-form-body .panel{ border:0px;}

.editr_email .cke_2 { width:100% !important;}
.shw_menu{ display:block !important;}

.sidebar-menu > li > ul > li > a > span:nth-child(1){ margin-right:0px !important; }

@media (min-width: 768px) and (max-width: 1024px) {
    .fs26 {font-size: 1.2em !important;}
    .panel100{ width:100%;}
}

/*.crt_evnt_drop_up{ position:absolute; top:6px;}
.crt_evnt_drop_up i{ color:#000;}
.crt_evnt_drop_down{ position:absolute; top:13px;}
.crt_evnt_drop_down i{ color:#000;}*/

.crt_evnt_drop_up{ position:relative; top:-7px;}
.crt_evnt_drop_up i{ color:#000;}
.crt_evnt_drop_down{ position:relative; top:0px; left:-11px;}
.crt_evnt_drop_down i{ color:#000;}

.sor-evnt-cls{ position:absolute; margin-top:-4px; }

.sor_evnt_cls_drop_up{ position:relative; top:-7px;}
.sor_evnt_cls_drop_up i{ color:#000;}
.sor_evnt_cls_drop_down{ position:relative; top:0px; left:-11px;}
.sor_evnt_cls_drop_down i{ color:#000;}