.event_email_cont{
	background: #fff;
}
.em_bor_bot{ border-bottom: 1px solid #e5e5e5 !important;}
.em_bor_bot:last-child{border-bottom: 0px !important;}

.wel_tem_name{ margin-top: 5px; border:0px; background: #fafafa; padding: 0 5px;}
.err-bor{ border-color: red !important;}


.fl-lft{ float: left !important;}

.top_nav{ margin-top: 0px;}
  .top_nav_right{ margin-right: 0px !important;}

.fl-lft{ float: left;}
.eml-ellps{  
 max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.eml-ellps-wid{ max-width:200px !important;}

.bg_white{ background:#fff;}
.mb_0{ margin-bottom: 0px;}
.view_evnt{ font-weight: 300;  color: #626262;}
.view_sel_wid ul{ min-width: 130px;}
.view_sel_wid button{ min-width: 130px;}
.aler_center1{ width:400px; float: left;  position:absolute; z-index: 9999; text-align: center;  
top: 40%; left: 30%; border:1px solid #e2e2e2; display: none; }
.aler_center_inner{ width: 100%; float: left;background:#fafafa; text-align: center; padding: 20px 0; }

.srh_filter{ width:50px !important;font-size: 14px !important; color:#666666 !important;}
.srh_filter:hover{ color:#666666; opacity: 0.7 !important; }
.srh-by-no{ margin-top: 15px;}
.panel_loader .panel-controls a.panel-control-loader{ display: none !important;}
