
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<section id="content_wrapper">

   
    <div class="panel-heading panel_loader">
        <span class="view_evnt fs26 col-sm-6">Access Denied!</span>
    </div>
    <div id="content" class="animated fadeIn">
        <div class="alert-danger">The requested URL is not accessible.</div>
    </div>
</section>

