@charset "utf-8";
/*
Designer		    : Om Prakash Choudhary
Designer's ID	  : om@thecatalystindia.in
Company			    : The Catalyst
Company Website	: www.thecatalystindia.in
********* THEME-OM SETTINGS *************************************************************************/
body,html{ background:#fff;}
body	{ background:#fff; color:#000; font:14px 'Roboto', Arial, Helvetica, sans-serif; text-align:justify; cursor:default; margin:0; padding:0; padding-top:130px !important;}
*		{ box-sizing:border-box; outline:none;}
a img	{ border:none; outline:none; display:block;}
a,img	{ outline:none; color:inherit;}
a:focus	{ outline:none; text-decoration:none;}
a:hover { color:inherit; text-decoration:none;}
img		{ max-width:100%;}
hr		{ border:none; border-bottom:1px solid #ccc;}
h1,h2,h3,h4,h5,h6 { text-align:initial;}

.container { display:table; width:100%; max-width:1170px; margin-left:auto; margin-right:auto;}
.container2 { display:table; width:100%; max-width:992px; margin-left:auto; margin-right:auto;}
.myrow { width:100%; display:table;}
.col-full { display:inline-block; width:100%; float:left; padding-left:15px; padding-right:15px;}
.col-half { display:inline-block; width:50%; float:left; padding-left:15px; padding-right:15px;}
.col-oneThird { display:inline-block; width:33.3333%; float:left; padding-left:15px; padding-right:15px;}
.col-twoThird { display:inline-block; width:66.6666%; float:left; padding-left:15px; padding-right:15px;}
.col-oneFourth { display:inline-block; width:25%; float:left; padding-left:15px; padding-right:15px;}

.relv		{ position:relative;}
.text-left	{ text-align:left;}
.text-center{ text-align:center;}
.text-right	{ text-align:right;}
.lFloat		{ float:left;}
.rFloat		{ float:right;}
.max		{ max-width:100%;}
.padded,.Padded { padding-left:0 !important; padding-right:0 !important;}
.clear		{ display:table; width:100%; clear:both;}

.Image	{ background:#fff; padding:4px; border:1px solid #ddd;}
.lImage { float:left; margin-right:15px; max-width:100%;}
.rImage { float:right; margin-left:15px; max-width:100%;}
.cImage { text-align:center;}
.cImage img { max-width:100%;}
.fImage { width:100%; margin:10px 0;}
.white	{ color:#fff;}

.margin-1em-all		{ margin:15px;}
.margin-1em-top		{ margin-top:15px;}
.margin-1em-right	{ margin-right:15px;}
.margin-1em-bottom	{ margin-bottom:15px;}
.margin-1em-left	{ margin-left:15px;}
.margin-2em-all		{ margin:30px;}
.margin-2em-top		{ margin-top:30px;}
.margin-2em-right	{ margin-right:30px;}
.margin-2em-bottom	{ margin-bottom:30px;}
.margin-2em-left	{ margin-left:30px;}
.margin-top-20		{ margin-top:20px;}
.margin-top-60 		{ margin-top:60px;}
.padding-1em-all	{ padding:15px;}
.padding-1em-top	{ padding-top:15px;}
.padding-1em-right	{ padding-right:15px;}
.padding-1em-bottom	{ padding-bottom:15px;}
.padding-1em-left	{ padding-left:15px;}
.padding-2em-all	{ padding:30px;}
.padding-2em-top	{ padding-top:30px;}
.padding-2em-right	{ padding-right:30px;}
.padding-2em-bottom	{ padding-bottom:30px;}
.padding-2em-left	{ padding-left:30px;}
.paddleft50			{ padding-left:50px;}
.paddtop70			{ padding-top:70px;}
.paddbottom70		{ padding-bottom:70px;}

.parallax		{ background-repeat:no-repeat; background-position:center center; background-size:cover; background-attachment:fixed; position:relative;}
.pattern		{ position:relative;}
.pattern:after	{ content:""; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==); width:100%; height:100%; position:absolute; top:0; left:0; z-index:0;}
.pattern > div	{ position:relative; z-index:1;}

.scroll { overflow-y:auto; scrollbar-face-color:rgba(220,225,225,.6); scrollbar-track-color:rgba(220,225,225,.8); scrollbar-arrow-color:rgba(220,225,225,.6); max-height:150px;}
.scroll::-webkit-scrollbar		{ width:12px; background:rgba(220,225,225,.3);}
.scroll::-webkit-scrollbar-thumb{ background:rgba(220,225,225,.6);}
.scroll:hover::-webkit-scrollbar{ background:rgba(220,225,225,.4);}
/********************************************************************/
@media screen and (min-width:991px) and (max-width:1024px)
{
}
@media screen and (min-width:768px) and (max-width:991px)
{
}
@media screen and (min-width:0) and (max-width:767px)
{
	.col-half, .col-oneThird, .col-twoThird, .col-oneFourth { width:100%; margin-bottom:10px;}
	.hide768 { display:none;}
  body	{ padding-top:60px !important;}

}
@media screen and (max-width:600px)
{
	.mob-m1em-bottom { margin-bottom:15px;}
	.mob-m2em-bottom { margin-bottom:30px;}
}