
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>.
</head>
<body>
    <div>
        <div id="dvAjxLoader">
            Please wait ... <img src="~/Images/ajaxloader1.gif" />
        </div>


    </div>
</body>
</html>
