@model EventCombo.Models.BusinessPage

@{
    ViewBag.Title = Model.PageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.PageName</h4>
    <hr />
  @Html.Raw(Model.PageContent)
</div>

