<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="logs/nlog.log" >

  <targets>
    <target xsi:type="AsyncWrapper" name="toFileAsync">
      <target xsi:type="File"
              name="toFile"
              fileName="${basedir}/logs/${shortdate}.log"
              layout="${longdate} ${uppercase:${level}}.${iis-site-name} ${logger}: ${message} ${onexception:${newline}IP Address\:${aspnet-request:serverVariable=remote_addr}${newline}EXCEPTION\: ${exception:format=ToString}}" />
    </target>
    <target xsi:type="AsyncWrapper" name="toMailAsync">
      <target xsi:type="Mail"
              name="toMail"
              subject="Error message from ${machinename}"
              to="noname@example.com"
              smtpServer="example.com"
              from="noname@example.com"
              layout="${longdate} ${uppercase:${level}} at ${machinename}.${iis-site-name} ${logger}: ${message} ${newline}${aspnet-request:header}${newline}URL: ${aspnet-request:serverVariable=Url} ${newline}User: ${aspnet-user-identity} ${newline}Session ID: ${aspnet-sessionid} ${newline}Referer: ${aspnet-request:serverVariable=HTTP_REFERER} ${newline}User Agent: ${aspnet-request:serverVariable=HTTP_USER_AGENT}${newline}IP Address: ${aspnet-request:serverVariable=remote_addr} ${onexception:${newline}${newline}Exception\: ${newline}${exception:format=ToString}}" />
    </target>
  </targets>
  <rules>
    <!--
    <logger name="EventCombo.ActionFilters.CustomHandleErrorAttribute" minlevel="Error" levels="Error" writeTo="toMailAsync" />
     -->
    <logger name="*" minlevel="Info" writeTo="toFileAsync" />
  </rules>
</nlog>