<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <connectionStrings>
    <add name="MyConnection" connectionString="Data Source=BIOTITE\MUNEEM;Initial Catalog=EventCombo;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="EventComboEntities" connectionString="metadata=res://*/Models.EventComboModel.csdl|res://*/Models.EventComboModel.ssdl|res://*/Models.EventComboModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BIOTITE\MUNEEM;initial catalog=EventCombo;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />



  </connectionStrings>
  <appSettings>
    <!--<add key="PayPal:Username" value="Navi-facilitator_api1.yahoo.com" />
   <add key="PayPal:Password" value="YQDFXBQ4R27AUK6J" />
   <add key="PayPal:Signature" value="An5ns1Kso7MWUdW4ErQKJJJ4qi4-AmAwWERn2bhLAzB3Wg10N49zjD0f" />-->

    <add key="AuthorzieNetApiLoginID" value="354v9ZufxM6" />
    <add key="AuthorzieNetApiTransactionKey" value="68Et2R3KcV62rJ27" />
    <add key="AuthorzieNetEnvironment" value="Sandbox" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="PayPal:Sandbox" value="True" />
    <add key="PayPal:Username" value="saroosh-facilitator_api1.eventcombo.com" />
    <add key="PayPal:Password" value="98GQKUBE8K5FXSGU" />
    <add key="PayPal:Signature" value="Ai1PaghZh5FmBLCDCTQpwG8jB264AM0zWYf38CCMJonQ5STGVapzLkuY" />
    <add key="PayPal:ReturnUrl" value="http://localhost:10159/Cart/CheckoutReview" />
    <add key="PayPal:CancelUrl" value="http://localhost:10159/Home/Index" />
    <add key="EncryptPaswword" value="abcd123456" />
    <add key="PayPal:MerchantAccountID" value="89R5Q9Y463GML" />
    <!--sandbox/production-->
    <add key="PayPal:Environment" value="sandbox" />
    <add key="IPInfoDBAPIUrl" value="http://api.ipinfodb.com/v3/ip-city/" />
    <add key="IPInfoDBAPIKey" value="3593e9187bfc04242ec93a8e36f2b0398f08550f66328a8f2e1ad880ef6fe47b" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="shweta.sindhu@kiwitech.com" />
    <add key="Password" value="Shweta1989" />
    <add key="Port" value="587" />
    <!--<add key="FacebookAppId" value="963347903739086" />
    <add key="FacebookAppSecret" value="abe6b97c1d8b47d3545f0b429ad73cb0" />-->
    <add key="GoogleID" value="626183259569-cl5n7nrdlnapj9a6g4u2ish8fakr41fo.apps.googleusercontent.com" />
    <add key="GoogleSecret" value="BACAx6NA6qVHJ-4nywYEBW7-" />
    <add key="FacebookAppId" value="1956731254551382" />
    <add key="FacebookAppSecret" value="b51ba7ac6c89359be109b4f7e788baa6" />
  </appSettings>
  <system.web>
    <machineKey validationKey="971E32D270A381E2B5954ECB4762CE401D0DF1608CAC303D527FA3DB5D70FA77667B8CF3153CE1F17C3FAF7839733A77E44000B3D8229E6E58D0C954AC2E796B" decryptionKey="1D5375942DA2B2C949798F272D3026421DDBD231757CA12C794E68E9F8CECA71" validation="SHA1" decryption="AES" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <sessionState mode="InProc" cookieless="false" timeout="30"></sessionState>

  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <!--<rewrite>
      <rules>
        <rule name="Remove Virtual Directory">
          <match url=".*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>