
@{
    ViewBag.Title = "CopyEvent";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>CopyEvent</h2>
<div>
    You may copy this event to quickly create a new event with the same description, ticket types, survey, and dates. You may also make whatever changes are necessary to the new event, both before and after publishing. You must press the Publish Event button on the next page before the new event will be available for attendee registrations

</div>
<div>
    <input type="text" id="txtEventDesc" style="width:200px;" />
    <button type="button" id="btCopyEvent" value="Save Event">Save Event</button>
    <input type="hidden" value="@TempData["EventId"]" id="hdEventId" />
</div>
<script>
    $("#btCopyEvent").click(function () {
        var vEventId = $("#hdEventId").val();
        var vEventTitle = $("#txtEventDesc").val();
        $.ajax({
            url: '@Url.Action("SaveEvent", "ManageEvent")',
            data: { Eventid: vEventId, strEventTitle:vEventTitle},
            type: "Post",
            success: function (response) {
                window.location.href = '@Url.Action("ModifyEvent", "EditEvent", new { })' + '?Eventid=' + response;
            }
        });
    });

</script>