
@{
    ViewBag.Title = "PromotionalCodes";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="col-sm-12 no_pad">
    <h3 class="acnt_title">Discount Code</h3>
    <!--  <p class="p_info">Payment Information</p> -->
</div>
<div class="clearfix"></div>
<div class="col-sm-12 col-xs-12 no_pad">
    <div class="discTable">
        <div class="discTablehead">
            <div class="discTableCell">
                Name
            </div>
            <div class="discTableCell ">
                Date
            </div>
            <div class="discTableCell ">
                Tickets Sold
            </div>
            <div class="discTableCell ">
                Quick Link
            </div>

        </div>
        <div class="discTableRow">
            <div class="discmidtablecell">
                My Event 1
            </div>
            <div class="discmidtablecell ">
                Nov, 28, 2013
            </div>
            <div class="discmidtablecell ">
                100
            </div>
            <div class="discmidtablecell ">
                <div class="dis_code_action">
                    <a href="">Manage </a> |
                    <a href="">Edit</a> |
                    <a href="">View</a> |
                    <a href="">Invite</a> |
                    <a href="">Analytics</a> |
                    <a href="">Duplicate</a>
                </div>
            </div>
        </div>
        <div class="discTableRow">
            <div class="discmidtablecell">
                My Event 1
            </div>
            <div class="discmidtablecell ">
                Nov, 28, 2013
            </div>
            <div class="discmidtablecell ">
                100
            </div>
            <div class="discmidtablecell ">
                <div class="dis_code_action">
                    <a href="">Manage </a> |
                    <a href="">Edit</a> |
                    <a href="">View</a> |
                    <a href="">Invite</a> |
                    <a href="">Analytics</a> |
                    <a href="">Duplicate</a>
                </div>
            </div>
        </div>
        <div class="discTableRow">
            <div class="discmidtablecell">
                My Event 1
            </div>
            <div class="discmidtablecell ">
                Nov, 28, 2013
            </div>
            <div class="discmidtablecell ">
                100
            </div>
            <div class="discmidtablecell ">
                <div class="dis_code_action">
                    <a href="">Manage </a> |
                    <a href="">Edit</a> |
                    <a href="">View</a> |
                    <a href="">Invite</a> |
                    <a href="">Analytics</a> |
                    <a href="">Duplicate</a>
                </div>
            </div>
        </div>
        <div class="discTableRow">
            <div class="discmidtablecell">
                My Event 1
            </div>
            <div class="discmidtablecell ">
                Nov, 28, 2013
            </div>
            <div class="discmidtablecell ">
                100
            </div>
            <div class="discmidtablecell ">
                <div class="dis_code_action">
                    <a href="">Manage </a> |
                    <a href="">Edit</a> |
                    <a href="">View</a> |
                    <a href="">Invite</a> |
                    <a href="">Analytics</a> |
                    <a href="">Duplicate</a>
                </div>
            </div>
        </div>



    </div>
</div>
