@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);




body{font-family:"Abel",Arial,sans-serif;}
a:focus { outline: none; text-decoration: none; }
.modal.fade{ z-index:9999; }
button:focus { outline: none;}
.form-control:focus{ border:1px solid #ccc; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{margin-top: 15px;
    top: 0;}
.fix_head{ position: fixed; width: 100%; float: left; background:#fff; z-index: 9999; top:0px; }
.midd_cont{ position: relative; top: 119px;}

.nav_cus_main{ background: transparent; border: 0px; margin-bottom:5px; min-height:35px; }
.nav_cus{ padding:0px; border-color: transparent;}
.nav_cus .panel-group{ margin-bottom: 0px;}
.nav_btn{ float: left; margin:0 0 5px 0; }
.nav_cus .panel{ margin: 0px !important; border:0px;}
.nav_cus .panel-heading { border-radius:0px !important; padding: 5px 15px;}
.nav_cus .panel-heading.active a{ color: #fff;}
.nav_cus .panel-heading.active a b{ color:#000;}
.nav_cus .panel-heading a.menu_title{ color:#fff; font-size: 16px; }
.nav_cus a:hover, .nav_cus a.active{ text-decoration: none !important;}
.nav_cus .menu_list{ border-color: transparent; box-shadow: none;}
.nav_cus .menu_list p{ line-height: 30px; display: block; margin-bottom: 0px; padding: 0 5px;}
.nav_cus .menu_list p:nth-child(odd) {background: #efefef;}
.nav_cus .menu_list p:nth-child(even) {background: #e5e5e5;}
.menu_title{ display: block;}
.no-padding{ padding: 0px;}

.closed {
    display: inline-block;
    width: auto; float:right; color:#fff;
    height: 0;
    margin-left: 2px; margin-top: 5px;
    vertical-align: middle; 
    border-left: 6px solid;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.opened {
    display: inline-block;
    width: auto; float:right; color:#fff;
    height: 0;
    margin: 5px 0 3px 2px;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
#accordion .menu_title .active {
    background: #00cfff !important; 
}
#accordion .menu_title {
    color: #fff; font-size:16px;
}
#accordion .menu_title.collapsed .active {
    background: #6a6b72 !important;
    color: #fff; font-size:16px;
}

#accordion .panel-heading{ background:#6a6b72; border-bottom:1px solid #797a80; }


.head_left_nav{position: relative; top:8px;}
.head_left_nav ul li{ list-style: none; float: left; border-right:1px solid #3cf; }
.head_left_nav ul li a{ line-height: 21px; font-size: 1.3em;  padding: 0 7px; color:#3cf; }
.head_left_nav ul li.msg_icn{ background:url(../images/message_info.png) no-repeat; width:50px; height:28px; }
.head_left_nav ul li.msg_icn span{ position: relative; left: 27px; top: 5px;  }
.head_left_nav ul li:first-child{ border:0px;}
.head_left_nav ul li:last-child{ border:0px;}
.head_left_nav ul li a:hover{ text-decoration: none;}
.social_icn{ width:20px; float: right;}
.filter_sep {
       background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    height: 36px; margin-top: 32px !important;
}
.cus_left_kick{
    margin-left: 20px;
    color: #00d0ff;
    cursor: pointer;
    float: right;
    font-size: 34px; position: relative;
    top: -4px;
    transform: rotate(0deg); transform-origin: 50% 50% 0px;
}
.headr_main{ padding-top:20px; padding-bottom:5px }
.cont_margin{ margin-top: 15px; margin-bottom: 0px;}
.cont_margin2{margin-top: 15px; margin-bottom: 15px;}
.acnt_form_label{ text-align: left !important; color: #555; font-weight: normal; }
.acnt_form_name_mini{ font-size: 10px; color: #999999;}
.acnt_title{ font-weight: normal; display: block; margin-top: 10px; margin-bottom: 10px;}
.p_info{ background-color: #eee;  font-size:18px; text-transform: uppercase; display: block; margin-bottom: 15px;  padding-left: 10px;}
.add_form_bot{ margin-bottom: 15px;}
.acnt_btn{ background-color: #00cafd; border:1px solid #00cafd; padding:2px 15px; font-size:20px; text-transform: uppercase;}
.acnt_btn:hover{background-color: #00cafd; border:1px solid #00cafd;}
.midd_container{ margin-bottom: 20px;}
.forget_container{ background:#f0f0f0; padding:20px !important; }
.forget_title{ display: block; background-color: #00cafd; margin-bottom: 0px;  padding:7px 10px; border:1px solid #aaaaaa; font-size: 1.3em; text-transform: uppercase; }
.forget_con_inner{ display: block; background-color: #fff; min-height: 150px;  padding:20px 10px;   font-size: 1em; text-transform: uppercase; }

.event_list_main{ width: 100%; float: left; margin-bottom: 10px; }
.event_list_left{ width: 33%; float: left;}
.event_list_right{ width: 67%; float: left; padding-left: 15px;  }
.event_list_right a{ text-decoration: none;}
.event_tit{  color: #000; font-size: 1.4em; font-style: normal; font-weight: normal; line-height: 25px; }
.event_tit a{ color:#000;}
.event_desc{ color:#000; line-height: 18px; }
.event_desc a{ color:#777; font-size: .9em; font-family: "Roboto",sans-serif;}
.event_date_time{font-size: 1.1em; color:#777;}
.event_date_time a{ color:#0393ef;}
.evnt_img{width:104px; height: 106px;}
.evnt_img_right{ width: 88px; height: 64px;}

.the_buz{ color: #0393ef;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0px;  border-bottom: 1px dashed #ccc; margin-bottom: 10px;}
.the_buz h2{ margin: 0px 0 10px 0;}
.buzz_right_main{ border-bottom: 1px dashed #ccc;}
.buzz_right{ padding-left: 0px; padding-right: 15px;}
.buz_title a{ font-size: 1.2em; font-weight: normal; line-height: 18px; color:#0393ef;}
.buz_desc a{ color:#000; font-size: .9em; font-family: "Roboto",sans-serif; font-weight: 300;}

.get_buzz_main{   float: left; margin-bottom: 6px;}
.get_buzz_title a{ font-size: 1.5em; padding-left: 0px; font-weight: normal; text-decoration: none; line-height: 18px; color:#0393ef;}
.get_buzz_desc a{ color:#000; font-size: 1em; text-decoration: none; font-family: "Roboto",sans-serif; font-weight: 300;}
.psst_event_org{ margin-bottom: 10px;}


.foot_bg{ background: #555; min-height: 180px; }

.foot_logo{border-bottom: 1px solid #fff; padding: 15px 0; margin-bottom: 15px;}
.fot_cont a{ color: #fff; text-decoration: none; }

.dis_event_title{ margin-bottom: 2em;}
.dis_event_title h2{ font-size:1.8em !important; font-weight: bold !important; font-family: "Roboto Condensed",sans-serif;}
.dis_event_desc{ font-size: 1.2em; color: #000; margin-bottom: 2em; }
/*******Home Page******/
.slect_country{ min-width: 100px; font-size: 1em; font-weight: bold; padding:3px 4px; }
.cyan-line-new{ background-color: #00cafd;
    min-height: 28px;}
.stylish-input-group{ 
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
} 
 .disc_title_head {border-right: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;}
.disc_title_head a{ color: #fff;}
.disc_title_head a:hover{ text-decoration: none;}


.psst {
    background-color: #ff008a;
    border-radius: 4px;
    border-right: 0 none !important;
    font-size: 1.1em !important;
    margin-top: 0px !important; 
    color: #fff;float: right !important;
    min-width: 300px; 
    min-height: 34px;
}
.psst a{ padding:0 20px; color:#fff; text-align: center;  text-decoration: none; display:block;
    font-size: 1.5em; }


.psst span.ev_org{ position: relative; top:-3px;}

.login_pop{ min-height: 300px; border:4px solid #777; border-radius:0px; }
.login_pop h3{ font-size: 1.5em; font-weight: normal; padding-left:10px;}
.login_pop .modal-header{ border:0px; padding-bottom:0px;}
.modal-dialog{  top: 15%; position: relative;}
.login_form_bot{ margin-bottom: 10px;}
.forgt_pass{ color: #00cafd; font-size: 1.2em;}
.forgt_pass:hover{color:#00cafd; text-decoration:none;}
.login_btn_sub{ background-color: #00cafd; border:1px solid #00cafd; padding:2px 15px; font-size:20px; text-transform: uppercase; }
.login_btn_sub:hover{background-color: #00cafd; border:1px solid #00cafd;}
.social_net_log{ font-size: 1.1em;}

.social-buttons{ margin-top: 20px; padding-bottom: 30px; }
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}


.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}

/************Start Create Event Page**********************/

.event_container{ width: 900px; max-width: 100%; margin: 0 auto;}
.event-upload-container{
    width: 100%; float: left; border:20px solid #f0f0f0; background: #c1c1c1; height: 600px; position:relative; }

/*.event_top{ margin-top: 62px;}*/
/*.event_top{ margin-top: 13%;}*/
.event_top{ margin-top: 119px;}
.event-upload{ width: 100%; float: left; } 
.evnt_title_bg{ width: 650px; max-width: 100%; float: right; background: #575757; padding:10px 15px;}

/*.evnt_title_top{ margin-bottom: -6%;}

.aler_container{ margin-top:50px;}*/  

.evnt_title_top{ margin-top: 12%;}


.evnt_title_control{ background:none !important; height:auto;  text-align: right; padding: 0px; border: 0px; box-shadow: none; color: #baff00; font-size: 2em; font-weight: bold; } 
.form-control.evnt_title_control:focus{ border: 0px; box-shadow: none;}
.loc_icon{ width: 26px; height: 35px; position: absolute; margin-left: 22%; float: left; background: url(../images/icon-location.png) no-repeat;}
.evnt_disc{ height: 100px !important;}
.event_detail_container{  width: 100%; float: left; background: #f0f0f0;}
.evnt_tile_head{ width: 100%; float: left; background:#8fd6e6; }
.evnt_tile_head h2{margin:0px 0; padding:5px 20px;}
.evnt_details_body{ width: 100%; float: left; padding: 5px 20px; margin-bottom: 30px; }
.evnt_inp_cont{ height:37px; border-radius: 5px; border: 1px solid #aaa; }

.location_map_div{ line-height:200px; text-align: center; height: 200px; border: 1px solid #ccc; background: #fafafa;}
.ent_add{ color:#00a1ee; font-size: 1em; }
.loc_map i{ font-size: 5em;  color: #dedede; margin-left: 0;}
.shw_map{ font-weight: normal;}

.event_add_table{ background: #fff;}
.event_add_table td{ padding-top: 15px !important; padding-bottom: 15px !important; font-size: 1.1em;}
.event_add_table td a i{ font-size: 1.3em !important; margin-left: 8%; }
.save_btn{ border-radius: 0px !important;}


/**********************start evnt mnamagement 2nd*************************/
.str_evnt{ width: 300px; float: left;}
.str_evnt_date{width: 150px; float: left !important; margin-right: 10px !important;}
.str_evnt_time{ width: 120px; float: left !important;}
.sch_evnt_label{ width:180px; float: left; max-width: 100%;}
.schedule_label{ font-size: 1em; }
.sch_date_from{ width: 180px; float: left;}
.sch_time_from{width: 120px; float: left;}
.label_cont_to{width:auto; float: left; margin:10px;}
.nth-day{display: inline-block;}
.evnt_inp_sel_day button.multiselect{ width: 200px; text-align: left !important;}
.evnt_inp_sel_day ul.multiselect-container{ width: 195px; border-radius: 0px;} 
.evnt_inp_sel_day b.caret{ 
    margin-top: 8px;
    position: absolute;
    right: 8px;}
.event_reap_time{ float: left; margin-right: 20px;}
.sch_save_btn {border-radius: 0 !important;}




/*****3rd start******/
.Sch_evnt_cont{ box-shadow: none !important; border: 0px;  border-radius: 3px !important;}
.Sch_evnt_main{  float: left; background: #fff; padding-top: 10px;margin-bottom:0px; width: 100%; border-bottom: 2px solid #ccc;}
.Sch_evnt_main .list-group-item{ float: left; border: 0px; font-size: 1.2em; }
.Sch_evnt_main .list-group-item span{ float: left; padding-left: 2px; color: #d1d1d1; margin-top: 10px; cursor: move; }
.Sch_evnt_main .list-group-item a:hover{ background: none; }
.Sch_evnt_main .list-group-item.Sch_title{ border-radius:0px; background: none;}
.Sch_evnt_main .list-group-item.Sch_act_main{ margin-top: 5px; text-align: center;}
.Sch_date{ font-size: 1.2em; font-weight: bold; text-align: center; display: block;} 
.Sch_title_desc{font-size: 1.2em; font-weight: bold; text-align: left; display: block;}  
.Sch_title_desc_bot{font-size: .8em; font-weight: normal; text-align: left; display: block;}
.sch_action{float: left; margin: 5px 8px; font-size: 1.3em;}    

.Sch_evnt_main_inner{ background:#ebecec; padding-top: 0px; border-bottom: 1px solid #ccc;}
.Sch_evnt_main_inner .Sch_title_desc{font-size: 1em; font-weight: normal; }
.Sch_evnt_main_inner .Sch_title_desc_bot{font-size: 1em; font-weight: normal;}

/*****4th Start********/
.evnt_descp_cont{ width: 100%; float: left;}
.desc_editor .panel{ margin-bottom: 5px;}
.edit_organ_label{ width:auto; float: left; padding-right: 5px; max-width: 100%; font-weight: normal; color:#337ab7; font-size: 1em;}
.edit_organ_label:hover{ text-decoration: underline; cursor: pointer;}
.edit_org_cont{ width: 100%; float: left;}
.can_org_cont{ width: 100%; float: left;}
.add_social_cont{width: 100%; float: left;}
.add_social_input{width: 100%; float: left;}
.fb{ color:#3d5a98;}
.tw{ color:#5ea9dd;}
.Moderor{ width:100%; float: left; max-width: 100%;
          margin-top:23px; outline:none; 
}


.add_set_cont{ width: 100%; float: left;}
.priv_cont{ width: 97%; float: left; margin-left: 3%;}
.label_private{ font-weight: normal;}
span.evnt_toltip{ 
    cursor: pointer !important;
    float: left !important;
    margin-top: 0 !important;
    padding-left: 5px;
    width: auto;
}

.evnt_toltip{ width: auto; float: left;}    
.evnt_toltip:hover + .tooltip {
    display: block;opacity:.9;
}
.tooltip{ width: 200px; float: left; 
    background: #333; border-radius: 3px; color: #fff;  
    left: 79px !important;
    padding: 5px;
    position: absolute;
    top: -42px !important;
    display:none;
 }

.tooltip:after {
  border-left: solid transparent 7px;
  border-right: solid transparent 7px;
  border-top: solid #333 7px;
  bottom: -7px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

/*.evnt_toltip {
  color: #555;
  font-size: 20px;
  margin:0;
  padding: 0; cursor: pointer;
  position: relative;
  text-align: center;
  width: auto; float: right;
  -webkit-transform: translateZ(0); 
  -webkit-font-smoothing: antialiased; 
}

.evnt_toltip .tooltip {
  background: #333;
  bottom: 100%; border-radius: 3px;
  color: #fff;
  display: block;
  margin-bottom: 6px;
  opacity: 0;
  padding: 5px; text-align: left;
  position: absolute;
  width: 180px; left: -77px;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}


.evnt_toltip .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  


.evnt_toltip .tooltip:after {
  border-left: solid transparent 7px;
  border-right: solid transparent 7px;
  border-top: solid #333 7px;
  bottom: -7px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.evnt_toltip:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}*/

/************5th Start**********************/

.evnt_onl9{ margin-right: 10px; cursor: pointer; color: #337ab7;}
.evnt_onl9:hover{ text-decoration: underline;}

.past_loc{ margin-left: 10px; cursor: pointer; color: #337ab7;}
.past_loc:hover{ text-decoration: underline;}
.past_locat_cont{ width: 100%; float: left;}


.url-width {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    float: left;
    width: auto; border-radius: 5px;
}
.url-name {
    color: #b2b2b2;
    float: left;
    line-height: 34px;
    min-width: 103px;
    padding-left: 10px;
    font-size: 1.1em;
    padding-right: 10px; height: 34px;
}
.url-filed {
    float: left;
    width: auto;
    font-size: 1.1em;
    line-height: 34px;
    padding-left: 10px;
}
.url-filed-border {
    border: 0 none !important;
    padding-left: 0 !important; height: 34px;
}
.gnrate-url {
    float: left;
    font-style: italic;
    margin-top: 7px !important;
    width: 100%;
}

.make_live_btn{ margin-top: 30px;}


/************Create Ticket**********************/
.ticket_panel{ box-shadow: none !important; border-radius: 3px !important; border: 0px;}
.ticket_footer{ text-align: left !important;}

.evnt_setting{}
.evnt_setting .evnt_setting_list a i{font-size: 1.3em !important; margin-left: 8%;}
.evnt_setting .evnt_setting_list{ float: left;}
.evnt_setting .evnt_setting_list a{ padding: 0px !important;}
.evnt_setting .evnt_setting_list a:hover{ background: none;}

.evnt_set_panel{box-shadow: none !important; margin-top: 10px; border-radius: 0px !important; border:0px; border-top:1px dashed #000; background:#fff;}
.evnt_ticket_label{ font-size: 1.2em; font-weight: normal; }
.evnt_tick_inp_cont{ height: 40px; border-radius: 0px; float: left; margin-right: 6%; margin-bottom: 15px; }
.mr0{ margin-right: 0px;}
.ticket_haeding{  float: left; padding-top: 10px;padding-bottom: 10px; margin-bottom: 0px;   width: 100%; border-bottom: 1px solid #ccc;}
.ticket_haeding .list-group-item{ float: left; border: 0px; font-size: 1.2em; }
/*.ticket_haeding .list-group-item span{ float: left; padding-left: 2px; color: #d1d1d1; margin-top: 10px; cursor: move; }*/
.ticket_haeding .list-group-item a:hover{ background: none; }
.active_setting{ background: #eee !important;}
.ui-timepicker-wrapper{ width: 8.5em !important;}
.datepicker{width: 20em !important; z-index: 9999;}
.datepicker td, .datepicker th{ border-radius: 0 !important;}
.evnt_time_cont{ float: left; margin-bottom: 10px;}
.lbl_bot_text{ font-size: 1.2em; color:#3cf; font-weight: normal; }
.lbl_bot_text:hover{ text-decoration: underline; cursor: pointer;}
.event_time_str{ margin-bottom:0px;}
.evnt_cus_date_cont{ width: 100%; float: left;}

.hide_unt_aft{ width: 100%; float:left;}


/************Create Ticket 2nd**********************/
.lbl_bot_price{ font-size: 1em; color: #979898; font-weight: normal;}
.lbl_bot_price .buyer_tot{ width:auto; float: left;}
.lbl_bot_price .buyer_price{ width:auto; float: left; margin: 0px; cursor: inherit; color: #3cf;}
.evnt_set_minimise{ font-size: 1.2em; color: #00cfff; font-weight:normal; }
.lbl_bot_minim{ font-size: 1.2em; font-weight: normal;}
.fess_online{ width: 100%; float: left; background: #ebecec; padding: 5px;}
.fess_online p{ color: #979898; font-size: 1.1em; margin-bottom: 0px; }


.evnt-mng-tab > li > a{ padding:10px !important; color:#555;  }
.evnt_mng_bor{ border-bottom:1px dashed #000;}
.mng-evnt-search{ box-shadow:none; }

.evnt-mng-tab > li.active > a, .evnt-mng-tab > li.active > a:hover, .evnt-mng-tab > li.active > a:focus {color:#00cafd;  }
.evnt_mng_tit_200{ min-width:200px; }


#eventtopscoll.viewevent_container.evnt_confma{ margin-top:119px !important; }


.evnt-list-pagination{ margin:0px; }
.evnt-list-pagination > .active > a, .evnt-list-pagination > .active > span, .evnt-list-pagination > .active > a:hover, .evnt-list-pagination > .active > span:hover, .evnt-list-pagination > .active > a:focus, .evnt-list-pagination > .active > span:focus{     background-color: #3cf; border-color:#3cf;}


/************Event Upload Image**********************/
.evnt_upload_cont{ width: 100%; float: left;}
.evnt_thub_cont{ width: 100%; float:left;}
.evnt_thub_list{ width: 20%; float: left;}



.err_main {
    width: 100%;
    margin: 0 auto;

}
    
.err-bor{ 
        border: 1px solid red !important;

}
.er_war_main{
    border: 1px solid #ffdb00;
    width: 100%;
    float: left;height: 50px; display: table; position:relative; }


/*.er_war_main{
    border: 1px solid #ffdb00;
    width: 100%;
    float: left;height: 50px; display: table;}*/
.er_war {width: 100%;display: table-cell; padding-left: 10px; vertical-align: middle; font-family: arial; font-size: 15px; color: #000; text-align: left; }
.er_war_img{ background: #ffdb00 url(../images/info_icn.png) no-repeat; width: 50px; height: 50px; float: left; position: relative; background-position: 10px 10px;}
.er_war_main button{ position:absolute; right:2px; top:0px; padding:2px 5px;}
.er_suc_main{
 border: 1px solid green;
    width: 100%;
    float: left;height: 50px; display: table; position:relative; }
.er_suc {width: 100%; padding-left:55px; display: table-cell; vertical-align: middle; font-family: arial; font-size: 15px; color: #000; text-align:left;text-transform:none; }

.er_UI_main{border: 1px solid red;
    width: 100%;
    float: left;height: 50px; display: table;
    margin-bottom :10px; position:relative; 
}
.er_UI_main button{ position:absolute; right:2px; top:0px; padding:2px 5px;}
.er_UI_img{ background: red url(../Images/ui.png) no-repeat; width: 50px; height: 100%; float: left; top:0px; position: absolute; background-position: center; }

.er_sys_img{background: red url(../Images/sys.png) no-repeat; width: 50px; height: 100%; float: left; top:0px; position: absolute; background-position: center;}
  
.er_suc_img{ background: green url(../Images/succ.png) no-repeat; width: 50px; height: 100%; float: left; top:0px; position: absolute; background-position: center;}







    

/*.er_war {width: 100%;display: table-cell; padding-left: 10px; vertical-align: middle; font-family: arial; font-size: 15px; color: #000; text-align: left; }
.er_war_img{ background: #ffdb00 url(../images/info_icn.png) no-repeat; width: 50px; height: 50px; float: left; position: relative; background-position: 10px 10px;}

.er_suc_main{
	border: 1px solid green;
    width: 100%;
    float: left;height: 50px; display: table;}
.er_suc {width: 1000px;display: table-cell; vertical-align: middle; font-family: arial; font-size: 15px; color: #000; text-align: center; }

.er_UI_main{border: 1px solid red;
    width: 100%;
    float: left;height: 50px; display: table;
    margin-bottom :10px;
}

.er_UI_img{ background: red url(../Images/2.png) no-repeat; width: 50px; height: 50px; float: left; position: relative; background-position: 10px 10px; }

.er_sys_img{background: red url(../Images/1.png) no-repeat; width: 50px; height: 50px; float: left; position: relative; background-position: 10px 10px;}
  
.er_suc_img{ background: green url(../Images/3.png) no-repeat; width: 50px; height: 50px; float: left; position: relative; background-position: 10px 10px;}*/








/************Start Placeholder & Media Query**********************/
.no_pad{ padding: 0px 0px;}
.mb0{ margin-bottom: 0px;}
.mb5{ margin-bottom: 5px;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left: 10px;}
.mr5_p{ margin-right: 5%;}
.wd600{ width: 600px; max-width: 100%;}
.wd500{width: 500px; max-width: 100%;}
.wd350{width: 350px; max-width: 100%;}
.wd280{width: 280px; max-width: 100%;}
.wd200{width: 200px; max-width: 100%;}
.wd140{width: 140px; max-width: 100%;}
.col-60{ width: 60%; float: left; margin-right: 5%;}
.col-35{ width: 35%; float: left;}

.fs-13{ font-size: 13px; }
.fs14{ font-size: 13px; }
.fs15{font-size: 15px; font-weight: normal; }
.fs18{font-size: 18px; font-weight: normal; }
.fs24{ font-size: 24px; }



.evnt_title_location{ font-weight: normal; color: #baff00;}
/*Placeholder Event name & event address*/
.evnt_placehold::-webkit-input-placeholder {
  color: #baff00
}

.evnt_placehold:-moz-placeholder { 
   color: #baff00
}

.evnt_placehold::-moz-placeholder {
  color: #baff00
}

.evnt_placehold:-ms-input-placeholder {  
   color: #baff00
}


.place_hold::-webkit-input-placeholder {
   font-size: 1.4em; font-style: italic;
}

.place_hold:-moz-placeholder { /* Firefox 18- */
   font-size: 1.4em; font-style: italic;
}

.place_hold::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1.4em; font-style: italic;  
}

.place_hold:-ms-input-placeholder {  
   font-size: 1.4em; font-style: italic;
}

.login_place::-webkit-input-placeholder{ 
    font-weight: normal; color: #000; font-size: 1em;
}

.login_place:-moz-placeholder { /* Firefox 18- */
   font-weight: normal; color: #000; font-size: 1em;
}

.login_place::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal; color: #000; font-size: 1em;
}

.login_place:-ms-input-placeholder {  
   font-weight: normal; color: #000; font-size: 1em;
}

#diverro1acc{ margin-left:15px; width:97%;} 

@media (min-width:1200px) {
    .acnt_form{ width:500px; margin-bottom:20px;}
}




@media (min-width: 979px) {

.affix-top {
      position:fixed;
      min-width:195px;
      top: 134px; z-index: 999;
      
  }
  .forget_container {
    width: 900px; margin: 0 auto; padding:20px; background: #f0f0f0;
  }
  
}

@media (width: 1024px) {
    .wid_1024{ width: 50%;
        }
     .nav_cus_main{ width:160px;}
    /*.wid_1024_full{width: 100%; float: left;}
    .buzz_right_main{ width: 47%; float: left; margin-left: 1.5%}
    .wid_512_full{ width: 100%; float: left;}*/

}
@media (width: 768px) {
.wid_1024{ width: 50%;
        }
.wid_get_buzz{ width: 47% !important; margin-right: 3%;
        } 
  .affix-top{top: 147px !important;}
   #scrollhome.con_scr0l_home{margin-top:156px !important;}
   #eventtopscoll.event_top{ margin-top:132px !important; } 
  .cyan-line-new .stylish-input-group .form-control{ height:56px; }
  .cyan-line-new .psst{ line-height:56px; }
}

@media (width: 800px) {
 .wid_get_buzz{ width: 47% !important; margin-right: 3%;}

}
@media (max-width: 768px)  {
  
  .home_fixed_header{ height: 140px !important;}
  .con_scr0l_home{ margin-top: 150px !important }  
  #midsection{ top:132px;} 
  
}

@media (max-width: 800px)  {
  .affix-top {
    position:fixed;
    min-width:130px; top: 134px; z-index: 999;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
.logo img{ width: 285px;}
.headr_main { padding-top:10px !important;}


.affix-top {margin-top:9px; position:relative; }
.midd_cont {margin-top: 3px;}
.social_icn{ width: auto; margin-top: 10px; }
.wid_get_buzz{ width: 90% !important; margin-right: 3%;} 

#divmain{ padding-top:10px;}
/*.con_scr0l_home {margin-top:0px !important;}*/
.filter_sep{ margin-top:10px !important;}

.home_fixed_header{ height: 142px !important; }
.frnt-top-header{ width:100%; float:left; padding:0px; }
#divmain .social_icn{ position:absolute; margin-top:25px !important; right:15px;}

.cont_margin2{ margin-bottom: 15px;margin-top: 0px;}
.navbar-right { margin:0px; padding:0px;}
#divsecmain{ margin-bottom:10px !important; }



}
@media (width: 320px) {
#mainhead .Fix_Head{ top:40px !important;}
#scrollhome.con_scr0l_home{margin-top:205px !important;}
#eventtopscoll.event_top{ margin-top:139px !important; } 
#eventtopscoll .cbtMakeLive { right:87px; position:relative; }
.home_fixed_header{ height:132px !important; }

#eventtopscoll.view_evnt_top.viewevent_container{margin-top:134px !important;}

}
@media (width: 480px){
#navtop.affix-top {top:118px !important;}
#midsection.midd_cont {top:116px !important;}
#scrollhome.con_scr0l_home{margin-top:205px !important;}

#eventtopscoll.view_evnt_top.viewevent_container{margin-top:142px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}

#eventtopscoll.viewevent_container.evnt_confma{ margin-top:122px !important; }


}
@media (min-width: 360px) and (max-width: 640px) {
#mainhead{ padding-top:10px;}
.headr_main { padding-top:10px;}
#divmain{ padding-top:10px;}
.affix-top {margin-top:1px; position:relative; }
.midd_cont {margin-top: 13px;}

.social_icn{ width: auto; margin-top: 10px;}
.con_scr0l_home {margin-top: 0 !important;}

#mainhead .Fix_Head {position:absolute; top:0px !important; right:5px;}
.Fix_Head{position:absolute; top:12px !important; right:10px;}

#divsecmain .col-sm-1{ position:absolute; top:28px !important; right:0px; }
#mainhead .col-sm-1{ position:absolute; top:25px !important; right:-5px; }
/*#midsection{ top:132px;}*/ 
.navbar-right { margin:0px; padding:0px;}
.eventtopscoll.event_top{}  
}

@media (width: 360px) {
#scrollhome.con_scr0l_home{margin-top:205px !important;}
#eventtopscoll.event_top{ margin-top:138px !important; } 
#eventtopscoll .cbtMakeLive { right:87px; position:relative; }
#eventtopscoll.view_evnt_top.viewevent_container{margin-top:134px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}
}
/*#eventtopscoll.view_evnt_top{ margin-top:10px !important;}
#eventtopscoll.view_evnt_top.event_top{ margin-top:163px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}*/
@media (width: 640px){
#navtop.affix-top {
    top:149px !important;
}
#midsection.midd_cont {top: 146px !important;}
#scrollhome.con_scr0l_home{margin-top:190px !important;}
.frnt_cret_evnt{ display:inline;}

.home_fixed_header{ height:132px !important; }
#eventtopscoll.view_evnt_top.viewevent_container{margin-top:132px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}

#eventtopscoll.viewevent_container.evnt_confma{ margin-top:122px !important; }
}

@media (width: 375px) {
#scrollhome.con_scr0l_home{margin-top:205px !important;}
#eventtopscoll.event_top{ margin-top:138px !important; }
#eventtopscoll .cbtMakeLive { right:87px; position:relative; } 

.home_fixed_header{ height:132px !important; }
#eventtopscoll.view_evnt_top.viewevent_container{margin-top:140px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}
}

@media (width: 667px) {
.ev_date_time_model{ top:105px;}
.ev_loca_check_main{ display:inline; }
.navbar-right { margin:0px; padding:0px;}
#divsecmain .col-sm-1{ position:absolute; top:25px; right:0px; }
#mainhead .col-sm-1{ position:absolute; top:45px; right:0px; }
#navtop.affix-top {top:160px !important; position:relative;}
#midsection.midd_cont {top: 160px !important;}
.Fix_Head{position:absolute; top:10px !important; right:10px;}
.social_icn{ width:50px !important;}
.frnt_cret_evnt{ display:inline;}
#scrollhome.con_scr0l_home{margin-top:190px !important;}
#eventtopscoll.event_top{ margin-top:159px !important; } 
.event-upload-container .jFiler-item-thumb-image{width: 80px !important; height: 90px !important;}

#eventtopscoll.view_evnt_top.viewevent_container{margin-top:170px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}

#eventtopscoll.viewevent_container.evnt_confma{ margin-top:160px !important; }
}
@media (width: 414px) {
#navtop.affix-top {
    top:118px !important;
}
#midsection.midd_cont {top: 115px !important;}
#scrollhome.con_scr0l_home{margin-top:204px !important;}
#divsecmain .col-sm-1{ top:15px !important;  }
#eventtopscoll .cbtMakeLive { right:65px; position:relative; } 

.home_fixed_header{ height:132px !important; }
#eventtopscoll.view_evnt_top.viewevent_container{margin-top:140px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}
}
@media (width: 736px) {
.navbar-right { margin:0px; padding:0px;}
.ev_loca_check_main{ display:inline; }
#divsecmain .col-sm-1{ position:absolute; top:25px; right:0px; }
#mainhead .col-sm-1{ position:absolute; top:45px; right:0px; }

#navtop.affix-top {top:159px !important; position:relative;}
#midsection.midd_cont {top: 159px !important;}
.Fix_Head{position:absolute; top:10px !important; right:10px;}
.social_icn{ width:50px !important;}
.frnt_cret_evnt{ display:inline;}
#scrollhome.con_scr0l_home{margin-top:190px !important;}
#eventtopscoll.event_top{ margin-top:159px !important; }
.event-upload-container .jFiler-item-thumb-image{width: 90px;  height: 95px;}
.event-upload-container .jFiler-item-thumb-image{width: 80px !important; height: 90px !important;}

#eventtopscoll.view_evnt_top.viewevent_container{margin-top:170px !important;}
#eventtopscoll.view_evnt_top.event_top .event-slide-container{ margin-top:0px !important;}
#eventtopscoll.view_evnt_top .event-slide-container{ margin-top:0px !important;}
}
/*@media (min-width: 640px){
.affix-top {
    top:149px !important;
}
.midd_cont {margin-top: 27px !important;}

}*/


.home_fixed_header{ width: 100%; float: left; height: 120px; position: fixed; top: 0px; background: #fff; z-index: 999;}
.con_scr0l_home{ margin-top: 134px;}

.Fix_Head{ width: 50px; float: right; position: absolute; top: 55px; right: 10px; }
.evnt_title_bg .note-editor.panel .note-dialog .modal-body .note-image-input.form-control{ padding: 0px; border: 0px; box-shadow: none;}
.evnt_descp_cont .note-editor.panel .note-dialog .modal-body .note-image-input.form-control{ padding: 0px; border: 0px; box-shadow: none;}

#eventtopscoll.view_evnt_top.viewevent_container{margin-top:138px;}


.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px; 
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 7px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #00cafd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 29px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}





/*Start NOV 10 -- 3 Tab Screen*/
.fullw{width: 100%; float: left;position: relative;}
.search-events{padding-top: 35px;}
.w-33{width: 33%;}
.input-group.custom .form-control {
    height: 40px;
    font-size: 16px;
    border-right: 0px;
}


.input-group.custom .input-group-addon {
    font-size: 20px;
    background-color: transparent;
    padding: 0px 0px;
}
.search-icon{padding: 0px 2px;}
.search-icon .fa-search {
    border-width: 0px;
    background-color: transparent;
    width: 40px;
    padding: 11px 0px;
    min-height: 38px;
    line-height: 15px;
}

.search-label-form-group-with-focus{
    border: 1px solid #00CAFD;
    border-radius: 4px;
}
.search-label-form-group-with-focus .search-icon{
    background-color: #00CAFD;
    color: #fff;
}
.pt20{padding-top: 20px;}
.fs20{font-size: 18px;}
.fs18{font-size: 18px;}
.fs16{font-size: 18px;}

.nav-tabs.custom > li.active > a,
.nav-tabs.custom > li.active > a:hover,
.nav-tabs.custom > li.active > a:focus {
    color: #000;
    cursor: default;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: #00CAFD;
    border-bottom-width: 3px;
}
.nav-tabs.custom > li > a {
    opacity: 0.7;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
}
.nav-tabs.custom > li > a:hover {
    border-color: transparent;
    background-color: transparent;
    color: #000;
}
.mt10{margin-top: 10px;}
.tab-pane.custom{float: left;width: 100%;position: relative;}

.tab-mid-content{
    background: rgba(241, 241, 241, 0.54);
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; display:inline-block;
}
.event-btn-action{display: inline-block;}
.event-btn-action .btn-link {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    text-decoration: none;
    color: #00CAFD;
    margin-right: 15px;
}
.event-btn-action .btn-link:last-child{margin-right: 0px;}
.event-btn-action .btn-link:focus,
.event-btn-action .btn-link:hover,
.event-btn-action .btn-link:active{opacity: 0.8;}

.event-btn-action .btn-link .icon {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

/*Close NOV 10 -- 3 Tab Screen*/

