/********************** GMap css Starts by Ravi on 11Dec2015******************************/
.ui-autocomplete {
  z-index:2147483647 !important;
}
.ui-autocomplete.ui-widget-content.myClass li {border-bottom:1px solid #ccc !important;}
.ui-autocomplete.ui-widget-content.myClass li a{ font-weight:normal !important; }
.ui-autocomplete.ui-widget-content.myClass li a:hover{ text-decoration:none !important }

.ui-autocomplete.ui-widget-content.myClass {
	border-bottom: 1px solid #ccc !important;
	background: #fff !important;
	font-weight: normal !important;
	color: #000 !important;
}




.ui-autocomplete.ui-widget-content.myClass .ui-state-hover,
.ui-autocomplete.ui-widget-content.myClass .ui-state-focus
{
	border: none !important;
	background: #fff !important;
	font-weight: normal !important;
	color: #000; cursor:pointer !important;
}
/***********************GMap css ends****************************/
textarea {resize: none;}
.ev_date_icn{ background-image: url(../images/icon-date.png); width: 29px; height: 29px; margin-top: 7px; left: -15px; position: absolute; cursor: pointer;}
.ev_loc_icn{ background-image: url(../images/icon-location.png); width: 26px; height: 35px; position: absolute;   left: 45px; cursor: pointer;}
.ev_loca_check_main{ margin-top: 20%;}
.ev_loca_check{ color: #aaa; font-size: 18px; font-weight: normal; }
.evnt_tile_bg_l{background-image: url(../images/title_bg_l.png); width: 19px; height: 34px; float: left; margin-left: -19px; position: absolute; cursor: pointer;  }
.evnt_tile_bg_r{background-image: url(../images/title_bg_r.png); width: 19px; height: 34px; float: right; margin-right: -19px;
    margin-top: -34px !important; top: 6px; position: absolute;right: 0; position: relative; cursor: pointer;  }
 .evnt_tile_head h2{ font-size: 1.2em; color: #fff; text-transform: uppercase;}
 .ev_add_tkt_tit{ font-size: 1.6em; font-weight: normal; color: #4a4a4a; margin-right: 10px;}
 .ev_btn_type button.save_btn{ font-size: 1.2em; margin-right: 10px; border-radius: 3px!important; padding-left: 15px; padding-right: 15px; line-height: 1 !important; background: #00cfff; border: 0px;}
.list_typ1{width:4%;}
.list_typ2{width:25%;}
.list_typ3{width:21%;}
.list_typ4{width:20%;}
.list_typ5{width:15%;}
.ev_ticket_haeding .list-group-item{ padding: 5px 10px;}
.ev_tickt_lebel{ font-weight: normal; font-size: 1.4em; padding-left:6px; }
.ev_tickt_input{ font-weight: normal; font-size: 1em;}
.evnt_set{ margin-right: 5px;}
.evnt_setting a{ font-size: 1.4em; color: #00cfff;}
.ev_row_mov{ width: 5%;}
.ev_row_icn{ top: 5px; position: relative;}
.evnt_sett_main{ width: 90px;}
.ev_drop_label{ font-size: 1.2em; height:37px; }
.ev_fb_lable{ font-weight: normal; margin-right: 10px;}
.fb_dis_head{ padding-top: 1px !important; padding-bottom: 0px !important;}
.evnt_tile_bg_r_fb{ margin-top: -34px !important}
.evnt_tile_bg_r_call{ margin-top:-6px !important}
.ev_set_more{font-size: 1.4em; color: #00cfff; cursor: pointer;}
.org_dele_btn{ min-height:37px;}

.ev_add_sub_btn {
    background: #00cfff;
    border: 0 none;
    border-radius: 3px !important;
    font-size: 1.2em;
    line-height: 1 !important;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px; min-width: 100px;
}
.ev_add_sub_btn:hover{background: #00cfff;  }

.ev_modal_add_btn{min-width: 100px;font-size: 1.2em;}
.ev_orgz_list{ min-height: 40px; border:0px; font-size: 1.2em;}
.ev_orgz_group{ border-radius: 0px ; border:1px solid #aaa; border-top: 0px; min-height: 44px; height: 100px; overflow: auto;}
.Orgz_dro_con{ background: #fff; min-height: 40px; line-height: 40px; font-size: 1.2em; border:1px solid #aaa;}

.org_right{ cursor: pointer;}
.ev_org_edt_main{color:#00cfff; }
.ev_org_edt_main a{ color:#00cfff;  }


.evnt_title_date{ color: #baff00; font-size: 2em; font-weight: normal; } 
.evnt_title_timezone{color: #fff; font-size: 1.5em; font-weight: normal; cursor: pointer;}
.evnt_title_location{ font-weight: normal; color: #baff00;}
.evnt_title_multi{color: #aaa; font-size: 1.2em; font-weight: normal;}
.evnt_title_multi a{color: #aaa;}
.evnt_title_multi a:hover{color: #aaa;}
.evnt_title_online{ margin-top: 10px; color: #aaa }

.ev_modal_header_title{ font-size: 1.4em;font-weight: normal;}
.ev_add_sr_no{ width: 30px; height: 30px; border-radius: 50%; background: #7f7f7f; color: #fff; text-align: center; line-height: 35px;}
.ev_add_venue_group{ min-height: 50px;  max-height: 150px; overflow: auto;}
.ev_add_venue_list{  
    width: 100%; float: left; min-height: 50px;  padding: 10px 0;
    padding-right: 0; border-bottom: 1px solid #7f7f7f !important;}
.ev_add_venue_group .ev_add_venue_list:last-child{ border-bottom: 0px;}
.ev_add_venue_addres{  color: #000; font-size:1em; }    

.ev_add_venue_action .ev_ven_act{width: 35px; height: 35px; float: left; margin-right: 5px; border-radius: 50%; background: #7f7f7f; color: #fff; text-align: center; line-height: 35px;}
.ev_add_venue_action .ev_ven_act a{ color: #fff; font-size: 1em;}
.ev_add_venue_action .ev_ven_act.ev_ven_blue{ background: #00cfff; color: #fff;}
.ad_ven_mod_btn{ min-height: 50px; border-radius: 0px; font-size: 1.5em; }


.ev_time_zone_model_main{ position: absolute;  margin-top: 2%; z-index: 9; width: 500px; border-radius: 5px; max-width: 100%; float: right; text-align: left;}
.ev_time_zone_model:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #fff 10px;
  top: -9px;
  content: " ";
  height: 0;
  right: 10%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
.ev_timezone_lebel{ font-weight: normal; font-size: 1.2em;}
.ev_tm_zon_cont{ box-shadow: none;}
.ev_date_time_model{ margin-top: 45px; width: 625px; }
.ev_ven_mod_lebel{ font-weight: normal; font-size: 1.2em;}
.bor1bot{border-bottom: 1px solid #aaa;}

/*Start New 1*/
.ev_live_sub_btn {
    background: #00cfff;
    border: 0 none; color: #fff !important;
    border-radius: 3px !important;
    font-size: 1.5em;
    line-height: 1 !important;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px; min-width: 100px;
}
.ev_add_sub_btn:hover{background:#00cfff !important; color: #fff !important;  }
.ev_add_sub_btn:focus{color: #fff !important;}
.grn_live_btn{ background: #1eff00}
.grn_live_btn:hover{ background: #1eff00}

.ev_ven_mod_sch_mul{ border-bottom: 1px solid #aaa;}
.cong_text{ color: #00cfff; font-size: 1.8em;}

.ev_set_del_btn {
 background: none;
    color: #00cfff;
    cursor: pointer;
    font-size: 1.4em;
    margin-top: -6px;
    padding: 0;
}
.ev_set_del_btn:hover{color: #00cfff;}


.StartDatemodal{ display:none;}
.TmezoneSet { display:none; }
.PastLocat {
    display: none;
}

/*upload image event  css*/
.evnt_title_bg{ position:absolute;bottom: 10px;right: 0; }
/*.event-upload-container .jFiler-items ul { margin-top:30px;}*/
.event-upload-container .jFiler-items ul li.jFiler-item {margin-right:20px;}
.event-upload-container .jFiler-input-dragDrop{ width:100%;height: 560px; background:#ccc;}
.event-upload-container .jFiler-item-thumb-image {  width:140px; height:105px; background:#fff; margin-top:10px;}
.event-upload-container .jFiler-item-thumb-image img{ max-width:100%;height:auto;max-height:100%; text-align:center; border:2px solid #fff; }
.event-upload-container .jFiler-item-container{ margin:0px !important;}
.event-upload-container .jFiler-item .jFiler-item-container .jFiler-item-assets{margin-top:0px !important;}
.event-upload-container .jFiler-item .jFiler-item-container .jFiler-item-assets ul{margin-top:0px !important;}
.event-upload-container .jFiler-item .jFiler-item-container{padding:5px!important;}
.jFiler-input-inner{margin-top:50px;}


.ev_ven_mod_sch_mul{ border-bottom: 1px solid #aaa;}
.bggrey{ background: #f0f0f0;}
.event_container_inner{ width:100%; float: left;}




.ev1{ width: 200px;}
.th_day_time{ font-size: 16px; margin-bottom: 0px;}
.th_tilte{ margin: 0px; margin-top: 0px; margin-bottom: 15px; }
.th_min_height{ min-height: 200px;}

.note-editor .note-fontname{ display: none;}
.note-editor .note-fontsize{ display: none;}
.note-editor .note-color{ display: none;}
.note-editor .note-height{ display: none;}
.note-editor .note-table{ display: none;}
.note-editor .note-insert{ display: none;}
.note-editor .note-help{ display: none;}



/*Variable charges*/
.ev_var_chrg_list{ min-height: 55px; border:0px; font-size: 1.2em;}
.ev_var_chrg_group{ border-radius: 0px ; border:1px solid #aaa; min-height: 44px; max-height: 200px; overflow: auto;}

.var_chrg_edt_main{color:#00cfff; }
.var_chrg_edt_main a{ color:#00cfff;  }
.var_chg_btn{ line-height: .8 !important;}
.var_chrg_edt_main button{ background: none; font-size: 1em;}
.var_chrg_edt_main button:hover{color:#00cfff;}
.var_chrg_edt_main button:focus{color:#00cfff; outline: none !important;}
.var_chrg_edt_main button.focus{color:#00cfff; outline: none !important;}
.var_chrg_edt_main button.active{ box-shadow: none !important;}
.var_chrg_edt_main button:active{ box-shadow: none !important;}


/*Start event display page*/

.event-slide-container{
    width: 100%; float: left; border:20px solid #f0f0f0; background: #c1c1c1; height: 600px;}

.carousel {
  min-height: 560px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 560px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-control.left { background-image: none;}
.carousel-control.right { background-image: none;}

.navbar-wrapper {
  position: absolute;
  margin-top: 0;
  right: 0;
  z-index: 99; width: 700px; max-width: 100%; bottom: 10px; 
  background: url(../images/slide_mid_bg.png) repeat; color: #fff;
}

.cont-bg{ width: 100%; float: left; }
.vot_count{ color: #b6ff00; font-size: 1.2em;}
.ev_date_icn2{ position: relative; display: inline-block; vertical-align: text-bottom; }
.ev_loc_icn2{ position: absolute; display: inline-block; left: -15px; vertical-align: text-bottom; }
.evnt_title_date2{ font-size: 1.7em;}
.ev_get_tick_btn{ font-size: 1.5em;}

.date_time_list{ color: #000; font-size: 1.2em; }

.date_time_set_modal{ width: 270px; max-width: 100%; left: -10px; }
.date_time_modal:after {
  left: 10% !important; float: left;
}
.date_time_list{ font-weight: normal; font-size: 1.2em;}
.date_time_list a{ color: #3cf;}
.ev_social_share_btn{ margin-top: 3px;}
.ev_social_share_btn a{ margin-left: 5px;}

.evnt_details_body2{ width: 100%; float: left; padding: 0px 20px; margin-bottom: 30px; }
.evnt_desc{ font-size: 1.2em;}
.inst_karm_box{ border:1px solid #000;}
.inst_karm_box p{ font-size: 1.2em; margin-bottom: 5px; word-break: break-all; }
.inst_karm_box p a{color: #3cf;}
.inst_karm_box p span.badge{ font-weight: normal; background:#3cf; font-size: 1em; }

.ev_calend_lebel {
    font-size: 1.4em;
    font-weight: normal; color: #3cf;
}
.ev_calend_lebel a{color: #3cf;}

.ev_white{ color: #fff;}
.ev_white_bg{ background: #fff;}

/*Start event display 0 page*/
.book_tkt_date{ font-size: 20px;}
.book_tkt_desc{ font-size: 16px; padding-bottom: 0px !important;}

.table > thead.tkt_multi_tab_date > tr > td{ border-top: 0px; padding: 0px;}

.btn_bg_none{ background: none; color: #fff;  font-size: 1.8em;  border:0px; box-shadow: none; padding: 0px;}
.btn_fav_act{ color: #00cfff;}
.ev_fav_count{ position: absolute; margin-top: 10px; margin-left: 5px;}

.tkt_tbl_head {
    background-color: #8c8c8c;
    color: #fff; font-size: 1.2em; text-transform: uppercase; table-layout: fixed; overflow: hidden; }
.evnt_tkt_list_tbl{ margin-bottom:0px;} 
.evnt_tkt_list_tbl > thead > tr > th{ font-weight: normal; } 
.evnt_tkt_list_tbl > tbody > tr > td{ font-size: 1.2em; }    
.evnt_tkt_list_tbl > tbody > tr:nth-of-type(2n+1) {
    background-color: #ebebeb;
}
.evnt_tkt_list_tbl > tfoot > tr > td{ font-size: 1.2em; } 
.evnt_tkt_list_tbl > tbody > tr > td.35per{ width: 230px; } 

.ev_payment_lebel {font-size: 1.2em; font-weight: normal; color: #00cfff;}
.ev_payment_lebel span.ev_pay_span{font-size: 1em;}
.ev_pay_span a{color: #00cfff; text-decoration: underline;}
.ev_pay_span a:hover{color: #777;}

.ev_tickt_recp_lebel{font-size: 1.2em; font-weight: normal; color: #000;}

.ev_bre_cub{ background: none; padding: 0px; margin-bottom: 0px; margin-top: 5px;}
.ev_bre_cub li{ font-size: 1.2em;}
.ev_bre_cub li a{ color: #3cf;}
.ev_bre_cub > li + li::before{content: "> ";}

.strat_timer_cont{ width: 100%; float: left; position: fixed; bottom: 0px; }
.strt_tim_desc{ font-size: 1.2em;}
.strt_tim_desc2{font-size: 1.5em;}
.evnt_timer_margin{ margin-bottom: 90px;}
.bg-green{background: #8fcf68; }
.bg-grey{background: #a3a3a3; }
.card_list img{ border: 1px solid #aaa;}
.ev_not_me{ padding-left: 10px; color:#3cf; cursor: pointer; margin-top: 5px; }


.evnt_tile_dis_bg_l{background-image: url(../images/dis_title_bg_l.png); width: 19px; height: 34px; float: left; margin-left: -19px; position: absolute; cursor: pointer;  }
.evnt_tile_dis_bg_r{background-image: url(../images/dis_title_bg_r.png); width: 19px; height: 34px; float: right; margin-right: -19px; margin-right: -19px;
     top: 6px; position: absolute;right: 0; position: relative; cursor: pointer;  }

/*.evnt_tile_dis_head{ width: 100%; float: left; background:#a3a3a3; }*/
.evnt_tile_dis_head h2{ font-size: 1.2em; color: #fff; text-transform: uppercase;}

.ev_soc_set{ margin-left: 15px;}
.ev_soc_set a{color: #3cf; font-size: 1.2em;}
.fb_dis_head_type a{color: #fff; }
.tkt_more_desc{color: #3cf; cursor: pointer; font-weight: normal;}
.tkt_more_desc i{ font-style:normal;}

.evnt_tile_deal_bg_l{background-image: url(../images/deal_title_bg_l.png); width: 19px; height: 34px; float: left; margin-left: -19px; position: absolute; cursor: pointer;  }
.evnt_tile_deal_bg_r{background-image: url(../images/deal_title_bg_r.png); width: 19px; height: 34px; float: right; margin-right: -19px; margin-right: -19px;
     top: 6px; position: absolute;right: 0; position: relative; cursor: pointer;  }

.evnt_tile_deal_head{ width: 100%; float: left; background:#b7f153; }
.evnt_tile_deal_head h2{margin:0px 0; padding:5px 20px;}
.evnt_tile_deal_head h2{ font-size: 1.2em; color: #000; text-transform: uppercase;}

.dl_title{ font-size: 2em; font-weight: bold; }
.dl_off{font-size: 2.8em; font-weight: bold; color: #00dd78;}
.dl_val{font-size: 1.5em; color: #00dd78;}
.dl_save{font-size: 1.5em; color: #00dd78;}
.dl_price{font-size: 1.5em; color: #00dd78;}
.dl_desc{ font-size: 16px;}
.dl_loc_desc{font-size: 1.1em;}
.dl_str_name{ float: right; font-size: 16px;}
.del_tc{ font-size: 12px;}
.chek_out_desc p{ font-size: 1.2em; font-weight: normal;}
.chek_out_desc p label{font-weight: normal;}

.tbl_white_bg{background:white;border:0;}






.ev_elips{ width:100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }


.buy_tot_drop li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .buy_tot_drop {
    display: block;
}

.txt_black{ color: #979898; font-size: 1em;}
.buy_tot_drop{ right: 0; left: 51%; background: #000; min-width: 200px;  box-shadow: none;}
.buy_tot_caret{ position: absolute; color: #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px dashed;
    border-top: 0px solid transparent;  
    top: -8px; left: 50%; margin-left: -14px;
}

.buy_tot_drop li { padding:5px; color: #fff; }
.buy_tot_main{ margin-right: 15px; }
.evnt_clr_blue{ color: #3cf;}

.drop_time_zon{ color:#000; padding:3px 10px; font-size:1.2em;}

.img_top{ vertical-align: top;}

/*Event date css*/
.caret_cus{ position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px dashed;
    border-top: 0px solid transparent;  
    top: -8px; left: 5px;
}
.evnt_cursor{ cursor: pointer;}
.evnt_clock{ vertical-align: top;}
.cus-drop-list{ box-shadow: none; min-width: 250px; }
.cus-drop-list li a{ font-size: 1.2em; color: #3cf;}
.cus-drop-list > li > a:hover, .cus-drop-list > li > a:focus { background: none !important; text-decoration: underline;}
.cus-drop-list li.drop_cus_header{ font-size: 1.3em; color: #000; padding: 0 10px; line-height: 2em; border-bottom: 1px solid #ccc;}
.cus-drop-list_high{width: 100%; float: left; min-height: 50px; max-height:200px; overflow: auto; padding: 3px 10px;}

.cal_scrol{ width:100%; float:left; min-height:50px; max-height:200px; overflow:hidden; overflow-y:scroll; }

/*Favourite button section*/

.btn_bg_none{ background: none; color: #fff;  font-size: 1.8em;  border:0px; box-shadow: none; padding: 0px;}
.btn_fav_act{ color: #00cfff;}
.ev_fav_count{ position: absolute; margin-top: 10px; margin-left: 5px;}

.catg_pad{ padding-left:0px !important;}
.catgtype1{ margin-bottom:5px; margin-top:5px; padding-top:5px; padding-bottom:5px;}
.catgbg1{ background:#e8e6e6; }






.cap_l{ text-transform: uppercase !important;}
.ev_live_btn{ background: #00cfff; color: #fff !important;}
.ev_live_btn:hover{background:#00cfff !important; color: #fff !important;  }
.ev_live_btn:focus{color: #fff !important;}
.ev_live_btn:active{background:#00cfff !important;}

.grn_live_btn{ background: #1eff00}
.grn_live_btn:hover{ background: #1eff00}

.yelw_live_btn{ background: #ffdb00; color: #000 !important}
.yelw_live_btn:hover{ background: #ffdb00}


.ev_pad_l0{ padding-left: 0px;}
.ev_pad_r0{ padding-right: 0px;}
.mt20{ margin-top: 20px;}
.mt15{ margin-top: 15px;}
.pt5{ padding-top: 5px !important;}
.pt10{ padding-top: 10px !important;}
.pb0{ padding-bottom: 0px !important;}
.pb10{ padding-bottom: 10px !important;}
.pl0{ padding-left: 0px !important;}

.mr0{ margin-right:0px; }




@media (min-width: 320px) and (max-width: 480px) {
.evnt_title_control{ font-size: 1.2em}
.evnt_title_date{ font-size: 1.2em}
.event-slide-container{ min-height: 240px; height: auto;}
.carousel {min-height: 240px; height: auto; margin-bottom: 0px;}
.carousel .item {min-height: 240px; height: auto;}
.logo img{ width: 250px;}
.ev_loca_check_main{ margin-top:0px;}
.headr_main{ padding-top:0px;}
.event-upload-container .jFiler-item-thumb-image{width: 50px;  height: 55px;}
.jFiler-input-dragDrop{ padding:5px !important;}
.ev_date_time_model{ top:80px;}
.xs_mb10{ margin-bottom:10px;}
.no_pad_res{ padding:0px;}
#divsecmain .col-sm-1{ position:absolute; top:5px; right:-5px; }
.Fix_Head{position:absolute; top:5px; right:5px;}

}

@media (min-width: 360px) and (max-width: 640px) {
.evnt_title_control{ font-size: 1.2em}
.evnt_title_date{ font-size: 1.2em}
.event-slide-container{ min-height: 240px; height: auto;}
.logo img{ width: 260px;}
.ev_loca_check_main{ margin-top:0px;}
.ev_loca_check_main{ margin-top:0px;}
.headr_main{ padding-top:0px;}
.event-upload-container .jFiler-item-thumb-image{width: 50px;  height: 55px;}
.jFiler-input-dragDrop{ padding:5px !important;}
.Fix_Head{ display:block;}
.ev_date_time_model{ top:80px;}
.xs_mb10{ margin-bottom:10px;}
.no_pad_res{ padding:0px;}
#divsecmain .col-sm-1{ position:absolute; top:25px; right:0px; }
#mainhead .col-sm-1{ position:absolute; top:25px; right:0px; }
#mainhead .Fix_Head {position:absolute; top:12px; right:10px;}
.Fix_Head{position:absolute; top:40px; right:10px;}
.filter_sep{ margin-top:15px !important; }
.event-slide-container{ margin-top:95px;}

}

@media (width: 640px) {
   .event-slide-container{ margin-top:40px;}
   .event-upload-container .jFiler-item-thumb-image{width: 90px;  height: 95px;}
}

@media (width: 768px) {
.event-upload-container .jFiler-item-thumb-image{width: 100px;  height: 75px;}



}

 .dropheight .dropdown-menu.open {margin-top:0px !important;}