/* Get the bourbon mixin from http://bourbon.io */
/* Reset */


.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }



.flip-clock-wrapper ul {
  list-style: none; }



/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 15px !important; }

.flip-clock-meridium a { color: #313333; }

/*.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}*/
.flip-clock-wrapper{ width:100px; margin:0 auto; }
.flip-clock-wrapper .flip{ padding:3px;} 
.flip-clock-divider.minutes .flip-clock-label { display:none;}
.flip-clock-divider.minutes .top{ display:none;}
.flip-clock-divider.minutes .bottom{ display:none;}

.flip-clock-divider.seconds .flip-clock-label { display:none;}
/*.flip-clock-divider.seconds .top{ display:none;}
.flip-clock-divider.seconds .bottom{ display:none;}*/




.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: auto;
  height: 30px;
  border-radius: 6px;
 
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  line-height:30px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 20px;
  overflow: hidden; 
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: auto;
  height: 200%;
  color: #333;
  text-align: center;
  background-color: #8fcf68;
  border-radius: 6px;
  font-size: 20px; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }




.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 30px; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 50%; left:5px; }





.flip-clock-dot.top {
  top: 22px; }

.flip-clock-dot.bottom {
  bottom: 12px; }










.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }







