    .map-drop-block {
        display: block !important;
        padding-bottom:5px;
    }

    .location-places-autocomplete-cant-find{
    width: 624px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background: #fff;
    border: 0px; height:30px;
}
pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000;
}
.zindex{

    z-index:1000000;
}

.displaynone{
    display:none !important;
}
/*.pac-container 
{
    z-index:1000;
}*/