@media (min-width: 320px) and (max-width: 480px) {
footer{ margin-bottom:330px !important;}

}


@media (min-width: 360px) and (max-width: 640px) {
footer{ margin-bottom:330px !important;}

}

@media (min-width: 375px) and (max-width: 667px) {
footer{ margin-bottom:330px !important;}
}

@media (min-width: 414px) and (max-width: 736px) {
footer{ margin-bottom:330px !important;}
}