
@{
    ViewBag.Title = "PaymentConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/eventcombo-new.css" rel="stylesheet" />
<div class="event_container ">
    <div class="event_inner_container event_top">
        <div class="event_detail_container">
            <div class="evnt_details_body2">
                <div class="col-sm-12 no_pad mt10 pt10">
                    <div class="col-sm-3 pl0">
                        <img class="ev1" src="images/ev1.jpg">
                    </div>
                    <div class="col-sm-9 pl0">
                        <h2 class="th_tilte">Avicii</h2>
                        <p class="th_day_time">Saturday Aug 17th 2011,8:30pm </p>
                        <p class="th_day_time chk_add_sch_cal"><span class="Timezone">Add schedule to calender</span></p>
                        <div class="TmezoneSet col-sm-12 no_pad ev_time_zone_model_main date_time_set_modal chk_add_sch_cal_modal">
                            <div class="ev_time_zone_model date_time_modal">
                                <div class="modal-content ev_tm_zon_cont">
                                    <div class="modal-header">
                                        <button class="close closetimemodal" type="button">
                                            <span>&#215;</span>
                                        </button>
                                        <h4 class="modal-title date_time_list">Schedule Date List</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-sm-12 no_pad">
                                            <div class="form-group mb5 ">
                                                <label class="col-sm-12 no_pad label-control date_time_list">
                                                    <a href="#" data-target="#schcalender" data-toggle="modal">Sunday Aug 18th 2011, 4:30pm </a>
                                                    <span class="loc_mini_icn"><img src="images/loc_icon_mini.png"></span>
                                                </label>
                                                <label class="col-sm-12 no_pad label-control date_time_list ">
                                                    <a href="#" data-target="#schcalender" data-toggle="modal">Sunday Aug 18th 2011, 4:30pm </a>
                                                    <span class="loc_mini_icn"><img src="images/loc_icon_mini.png"></span>
                                                </label>
                                                <label class="col-sm-12 no_pad label-control date_time_list">
                                                    <a href="#" data-target="#schcalender" data-toggle="modal">Sunday Aug 18th 2011, 4:30pm </a>
                                                    <span class="loc_mini_icn"><img src="images/loc_icon_mini.png"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <p class="th_day_time">Club Illusions</p>
                        <p class="th_day_time">260 S California Ave, Palo Alto CA</p>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-6 col-xs-6 text-left no_pad">
                <h2 class="fb_dis_head pt5">THANK YOU FOR YOUR ORDER</h2>
            </div>
            <div class="col-sm-6 col-xs-6 text-right ev_social_share_btn">
                <a href=""><img src="images/1.png"></a>
                <a href=""><img src="images/2.png"></a>
                <a href=""><img src="images/3.png"></a>
                <a href=""><img src="images/4.png"></a>
            </div>

            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">

                <div class="col-sm-12 no_pad chek_out_desc">
                    <p>Your order has been saved to My E-Tickets </p>
                    <p>Order T123456789, 7 tickets for $100.00 </p>
                    <p>Your tickets have been sent to customer-email@domain.com </p>
                    <p>
                        <label><input type="checkbox"> Keep me locked to the latest, Yes, send me curated events every few weeks </label>
                    </p>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-xs-12 no_pad ">
                        <button class="btn ev_live_btn fs18" type="button">
                            GO TO MY E-TICKETS
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5">LET YOUR FIRENDS KNOW!</h2>
            </div>

            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">

                <div class="col-sm-12 no_pad chek_out_desc">
                    <p>Events are better when your friends are there too. So, who's coming with you?</p>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-xs-12 no_pad">
                        <button class="btn ev_live_btn fs18" type="button">
                            SHARE ON FACEBOOK
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5">Create Your Own Event</h2>
            </div>

            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">

                <div class="col-sm-12 no_pad chek_out_desc">
                    <p>Showcase your event to Millions of people on Eventcombo.</p>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-xs-12 no_pad">
                        <button class="btn ev_live_btn cap_l fs18" type="button">
                            Go for it!
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5">Info Box </h2>
            </div>

            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">

                <div class="col-sm-12 no_pad chek_out_desc">
                    <p>Hi Customer-Name </p>
                    <p>Questions about this event?</p>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-xs-12 no_pad">
                        <div class="col-sm-2 col-xs-6 no_pad">
                            <button class="btn ev_live_btn cap_l fs18" type="button">
                                Contact Us
                            </button>
                        </div>

                        <div class="col-sm-10 col-xs-6no_pad">
                            <button class="btn ev_live_btn cap_l fs18" type="button">
                                View organizer profile
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal fade" id="schcalender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title ev_modal_header_title" id="myModalLabel">Add to Calendar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 no_pad">
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-windows"></i> <a href="#">Microsoft Outlook </a>
                        </div>
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-apple"></i> <a href="#">Apple Ical </a>
                        </div>
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-google"></i> <a href="#">Google Calendar </a>
                        </div>
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-yahoo"></i> <a href="#">Yahoo Calendar </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
        </div>
    </div>
</div>