@model CMS.Models.FeeSetting
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script src="~/Scripts/jquery.masked.js"></script>
<section id="content_wrapper">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Fees Setting</span>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="alert alert-danger" hidden="hidden" id="diverr">
                    <button class="close" aria-hidden="true"  type="button">&#215;</button>
                    <i class="fa fa-info pr10"></i>
                    <span id="iderrr"></span>

                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-success" hidden="hidden" id="divsucc">
                    <button class="close" aria-hidden="true" type="button">&#215;</button>
                    <i class="fa fa-info pr10"></i>
                    <span id="idsucc"></span>

                </div>
            </div>
            <div class="col-md-12">

                <div class="col-md-8">
                    <form class="form-horizontal" role="form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-lg-12">%</label>
                                <div class="col-lg-6"> 
                                    <input type="text" id="idpercentage" class="form-control" name="percentage" onkeypress="allownumber(event)" maxlength="3" value="@Model.percentage">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-lg-12">$</label>
                                <div class="col-lg-6">
                                    <input type="text" id="idvalue" class="form-control" name="value" maxlength="8" onkeypress="allownumberdec(this,event)" value="@Model.value" onblur="tofixed(this.id)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb10">
                            <div class="radio-custom radio-primary mt5 fl-lft mr10">
                                <input id="id_appycustomise"  type="radio" name="cust" checked="checked">
                                <label for="id_appycustomise">apply only to non-customized events</label>

                            </div>

                            <div class="radio-custom radio-primary mt5 fl-lft mr10">
                                <input id="id_appytoall" type="radio" name="cust" checked="checked">
                                <label for="id_appytoall">apply to all events</label>

                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <button class="btn btn-primary col-sm-3" type="button" id="btnsave">Save</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>


            </div>
        </div>
    </div>


    <!-- Confirm Msg OK Modal Box -->
    <div class="modal fade" id="confirm-delete-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
            <div class="modal-content">

                <form id="contactForm" class="fullw1 add">
                    <div class="modal-body text-center pv50 txt-msg">

                        <h4 class="msg" id="hId"></h4>
                    </div>
                    <div class="modal-footer msg-action-btn ok">
                        <button type="submit" id="btnYes" class="btn btn-primary no" data-dismiss="modal">Yes</button>
                        <button type="button" id="btnNo" class="btn btn-primary no" data-dismiss="modal">No</button>
                    </div>
                </form>
                <input type="hidden" id="hdUserId" value="" />
            </div>
        </div><!-- confirm-msg -->
    </div>
    <div>
        <a class="td-btn" id="btOk" type="button" href="#confirm-delete-ok" data-toggle="modal" style="display:none">

        </a>
    </div>
    <!-- Confirm Msg OK Modal Box -->
</section>


<script type="text/javascript">

    function tofixed(id) {
        debugger;
        var price = $('#' + id).val().replace(',', '');
     
        if (id == "") {

        } else {

            var price = parseFloat(price).toFixed(2);

            if (!isNaN(price)) {

                price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById(id).value = price;
            }

        }


    }
    function allownumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;

        if ((charCode < 48 || charCode > 57) && charCode > 31 && charCode != 44) {

            evt.preventDefault();
            return false;
        }
    }
  
    function allownumberdec(el,evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : event.keyCode;

        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 44) {
            evt.preventDefault();
            return false;

        }

        if (number.length > 1 && charCode == 46) {
            evt.preventDefault();
            return false;
        }



    }
    $(".close").click(function () {
        $("#divsucc").hide();
        $("#diverr").hide();
        $("input").removeClass('err-bor');

    });
    $(document).ready(function () {
       
     
        $("#btnYes").click(function () {
           
            var apply = "";
            if ($("#id_appytoall").is(":checked")) {
                apply = "A";
            }
            if ($("#id_appycustomise").is(":checked")) {
                apply = "N";
            }
            var model = {
                'percentage': $("#idpercentage").val(),
                'value': $("#idvalue").val(),
                'Apply': apply
            };

            $.ajax({
                url: '@Url.Action("savefee", "FeeSetting")',
                data: { model: model },
                type: "Post",
                success: function (data) {
                    if (data == "S") {
                        $("#divsucc").show();
                        $("#idsucc").html(ajaxsetup("FeeSetting", "FSSuccess"));
                    } else {

                    }

                },
                error: function (data) {
                }
            });
        });


        });
    $("#btnsave").click(function () {

        var msg = validatemain();

        if (msg != "") {
            $("#diverr").show();
            $("#iderrr").html(msg);
            return false;
        }
        var apply = "";
        if ($("#id_appytoall").is(":checked")) {
            apply = "Do you want to  apply to all events ";
        }
        if ($("#id_appycustomise").is(":checked")) {
            apply = "Do you want to  apply to only non customised events ";
        }
        $("#hId").html(apply);
        $("#btOk").click();

    });
    function validatemain() {
        debugger;
        var msg = "";
        var count = 0;
        var value = $('#idpercentage').val();
        var percentage = $('#idvalue').val();
        if (value == "" || parseFloat(value)==0) {
            $('#idpercentage').addClass('err-bor');
            count = count + 1;
           

        }
        if (percentage == "" || parseFloat(percentage) == 0) {
            $('#idvalue').addClass('err-bor');
            count = count + 1;
           

        }

        if(count>0)
        {
            msg += ajaxsetup("FeeSetting", "FSRequiredUI") + "<br/>";
           
        }

        return msg;
    }
    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
</script>
