
@{
    ViewBag.Title = "EventConfirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="event_container">
    <div class="event_inner_container event_top">
        <div class="event_detail_container">
            <div class="col-sm-12 no_pad mt10 mb10">
                <div class="col-sm-3">
                    <img class="ev1" src="images/ev1.jpg">
                </div>
                <div class="col-sm-9">
                    <h2 class="th_tilte">Avicii</h2>
                    <p class="th_day_time">Saturday Aug 17th 2011,8:30pm </p>
                    <p class="th_day_time">Club Illusions</p>
                    <p class="th_day_time">260 S California Ave, Palo Alto CA</p>
                </div>
            </div>
            <div class="evnt_tile_head">
                <div class="evnt_tile_bg_l"></div>
                <h2 class="">
                    EVENT CONFIRMATION MESSAGE
                </h2>
                <div class="evnt_tile_bg_r"></div>
            </div>
            <div class="evnt_details_body th_min_height">
                <div class="col-sm-12 text-center mt20">
                    <label class="label-control ev_tickt_lebel cong_text">Congratulations, your event is on Eventcombo!</label>

                </div>
            </div>
        </div>
    </div>
</div>