
@{
    ViewBag.Title = "Index";
}

  <!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <!-- Start: Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">

                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-active">
                    Dashboard
                </li>
            </ol>
        </div>

    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div id="content" class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">

                <!-- Input Fields -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">My Account Form</span>
                    </div>
                    <div class="panel-body admin-form">
                        <!-- <div class="col-md-12">
                          <div class="alert alert-success alert-dismissable">
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&#215;</button>
                            <i class="fa fa-info pr10"></i>
                            <strong>Oh snap!</strong>
                            You need to&#10;
                            <a class="alert-link" href="#">Change a few things up</a>
                            and try again.&#10;
                          </div>
                        </div> -->
                        <div class="col-md-12">
                            <form method="post" action="" id="form-ui">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section">
                                            <label class="field form-control">
                                                MyAccountEmailRequiredUI
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="section">
                                            <label class="field">
                                                <input type="text" name="from" id="from" class="gui-input" placeholder="Message">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section">
                                            <label class="field form-control">
                                                MyAccountEmailValidationUI
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="section">
                                            <label class="field">
                                                <input type="text" name="from" id="from" class="gui-input" placeholder="Message">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section">
                                            <label class="field form-control">
                                                MyAccountEmailAlreadyExistSY
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="section">
                                            <label class="field">
                                                <input type="text" name="from" id="from" class="gui-input" placeholder="Message">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section">
                                            <label class="field form-control">
                                                MyAccountSuccessInitSY
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="section">
                                            <label class="field">
                                                <input type="text" name="from" id="from" class="gui-input" placeholder="Message">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section">
                                            <label class="field form-control">
                                                MyAccountSuccessEmailSY
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="section">
                                            <label class="field">
                                                <input type="text" name="from" id="from" class="gui-input" placeholder="Message">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section">
                                            <label class="field form-control">
                                                MyAccountSuccessPasswordSY
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="section">
                                            <label class="field">
                                                <input type="text" name="from" id="from" class="gui-input" placeholder="Message">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary btn-lg" type="button">Save Message</button>
                                </div>

                            </form>



                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <!-- End: Content -->

</section>
