@model EventCombo.Models.EventCreation

@{
    ViewBag.Title = "EventCreation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>EventCreation</h2>
@using (Html.BeginForm())

{
    <div>


        <div class="event_container">
            <form>
                <div class="event-upload-container">
                    <input class="event-upload form-control" type="file" />
                    <div class="evnt_title_bg evnt_title_top">
                        <div class="form-group">
                            <input class="form-control evnt_title_control" placeholder="Enter Name of the event" value="Enter Name of the event" />
                        </div>
                        <div class="form-group">
                            <label class="label-control evnt_title_control">Event Discription</label>
                            <div class="summernote"></div>
                        </div>
                    </div>
                </div>
                <div class="event_detail_container">
                    <div class="evnt_tile_head">
                        <h2>Event Details</h2>
                    </div>
                    <div class="evnt_details_body">
                        <div class="form-group">
                            <label class="label-control wd600">Event Location</label>
                            <input class="form-control evnt_inp_cont wd600 " placeholder="Specify Where it's is held." />
                            <div class="trigger mt5 ent_add"><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-map-marker"></i> Enter Address</a> </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <table id="tblAddress" class="table table-responsive">
                                <tbody>
                                    <tr class="event_add_table">
                                        <th>Sno</th>
                                        <th>Venue Name</th>
                                        <th>Address 1</th>
                                        <th>Address 2</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Zip Code</th>
                                        <th>Country</th>
                                        <td>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i></a> <a href="">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="event_detail_container">
                    Create ticket
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12 text-center mb10 ">
                    <input type="submit" value="Submit" />
                    <button type="button" id="btSave" class="btn btn-primary btn-lg save_btn">Save</button>
                    <button type="button" class="btn btn-primary btn-lg save_btn">Make your Event Live</button>
                    <input type="button" id="btTest" value="Add Row" />
                </div>
            </form>
        </div>
        <!-- modal Start Here  -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Location</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="VenueName" class="form-control evnt_inp_cont" placeholder="Enter the Venue Name" />
                            </div>
                            <div class="form-group">
                                <input id="Address1" class="form-control evnt_inp_cont" placeholder="Address 1" />
                            </div>
                            <div class="form-group">
                                <input id="Address2" class="form-control evnt_inp_cont" placeholder="Address 2" />
                            </div>
                            <div class="form-group">
                                <input id="City" class="form-control evnt_inp_cont" placeholder="City" />
                            </div>

                            <div class="col-sm-6 row">
                                <div class="form-group">
                                    <input id="State" class="form-control evnt_inp_cont" placeholder="State" />
                                </div>
                            </div>
                            <div class="col-sm-6 row pull-right">
                                <div class="form-group">
                                    <input id="Zip" class="form-control evnt_inp_cont" placeholder="Zip Code" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group mb5 ">
                                <select id="CountryID" class="form-control evnt_inp_cont">
                                    <option>dawadasd</option>
                                    <option>dawadasd</option>
                                    <option>dawadasd</option>
                                    <option>dawadasd</option>
                                    <option>dawadasd</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-6 location_map_div">
                            <div class="col-sm-6 loc_map"> <i class="fa fa-map-marker"></i> </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"><i class="fa fa-undo"></i> Reset Address</button>
                        <button type="button" id="btAddAddress" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>

@*<link href="~/Scripts/jquery.appendGrid/jquery.appendGrid-1.4.2.css" rel="stylesheet" />
<script src="~/Scripts/jquery.appendGrid/jquery.appendGrid-1.4.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>*@
<script type="text/javascript" >
    function editRow(ColumnValue) {
     //   var row_index = $(this).parent().index('tr');
        alert(ColumnValue);
       // var i = 1;
//var myTr = [];
        //$('#tblAddress tr').each(function () {
        //    $(this).find('td').each(function () {
        //    });
        //    alert(myTr);
        //});

        //$('#tblAddress tr').each(function () {
        //    $(this).find('td').each(function () {
        //        i =parseInt($(this).text());
        //        if (parseInt(Sno) == )
        //        {
        //            myTr.push($(this).text());
        //        }
        //    });
        //    alert(myTr);
        //});

    }
    $(document).ready(function () {
        $("#btTest").click(function () {
            // alert("test");
            $('#tblTest').appendGrid('insertRow', 1, 2);

        });

        $('.summernote').summernote({
            height: 70,   //set editable area's height


        });
        function AddRow(TableId,ColumnValue, IncludeSNo) {
            var ColAry = ColumnValue.split('¶');
            var Sno = $("#" + TableId + " tr").length;
            var cval = ColumnValue;
            var strHTML = '<tr>';
            strHTML = strHTML + '<td>' + Sno + '</td>';

               // alert(ColAry.length);

            for (i = 0; i <= ColAry.length - 1; i++) {
                strHTML = strHTML + '<td>' + ColAry[i] + '</td>';
            }

            strHTML = strHTML + '<td><div class="trigger mt5 ent_add"><a href="#" onclick="editRow(' + Sno + ');" data-toggle="modal" data-target="#myModal"><i class="fa fa-map-marker"></i> Edit</a> </div></td>';
            //strHTML = strHTML + '<td><input type="button" onclick="editRow();" id="btnEdit" value="Edit" /></td>';
            strHTML = strHTML + '</tr>';
            $("#" + TableId).append(strHTML);
        }
        $("#btAddAddress").click(function () {
           // alert("Chal Pya");
            //var sno = parseInt($("#tblAddress tr").length);
            //var strHtml = '<tr><td>' + sno + '</td>' + $("#Address1").val() +'<td>' +  + '</td><td>' + $("#Address2").val() + '</td><td>' +
            //      $("#Address2").val() + '</td><td>' + $("#State").val() + '</td><td>' + $("#Zip").val() + '</td><td>' + $("#CountryID").val() + '</td></tr> '

            //var strHtml = '<tr><td>' + sno + '</td><td>Add1</td>Add2</td><td>City</td><td>State</td><td>ZipCode</td></tr> ';

            var vCols = $("#VenueName").val() + "¶" + $("#Address1").val() + "¶" + $("#Address2").val() + "¶" + $("#City").val() + "¶" + $("#State").val() + "¶" + $("#Zip").val() + "¶" + $("#CountryID").val();

            AddRow("tblAddress", vCols, "Y");
            //$("#tblAddress").append(strHtml);

        });

        

        //$('form').submit(function () {
        $('#btSave').click(function () {
            var myTr = [];
            $('#tblAddress tr').each(function () {
                $(this).find('td').each(function () {
                    myTr.push($(this).text());
                });
                alert(myTr);
            });
        
            //alert("chal pya");
            //debugger;
            //var SubmitAddress = [];
            //var table = $("#tblAddress");
            //table.find('tr').each(function (i,el) {
            //    var $td = $(this).find('td');
            //    alert($td.eq(1).text());
            //});
            //$("#tblAddress tr").each(function () {

            //    //SubmitAddress.push({
            //    //    Name: "Name" ,
            //    //    Address1:"Add1",
            //    //    Address2:"Add2",
            //    //    City:"City",
            //    //    State: "State",
            //    //    Zip: "ZIP",
            //    //    VenueName: "Vname",
            //    //    UserId:"UserTest"
            //    //});
            //});


            //Address1:$('td input[name="Address1"]', this).val(),
            //Address2:$('td input[name="Address2"]', this).val(),
            //City:$('td input[name="City"]', this).val(),
            //State: $('td input[name="State"]', this).val(),
            //Zip: $('td input[name="Zip"]', this).val()


            //alert("InModel");
            @*var model = {
                'EventTypeID':1,
                'EventCategoryID':1,
                'EventSubCategoryID':1,
                'UserID':'UserId',
                'EventTitle':'Demo' ,
                'DisplayStartTime':'Y',
                'DisplayEndTime':'Y',
                'DisplayTimeZone':'Y',
                'EventDescription':'Testing',
                'EventPrivacy':'Public',
                'Private_ShareOnFB' :'N',
                'Private_GuestOnly':'N' ,
                'Private_Password' :'Test',
                'EventUrl':'',
                'PublishOnFB' :'N',
                'EventStatus': 'Save',
                'AddressDetail': SubmitAddress
            };

            //data: JSON.stringify({ EventCreation: model }),
            //url: '@Url.Action("SaveEvent", "Event")',
            $.ajax({
                url: '@Url.Action("SaveEvent", "Event")',
                data: model,
                type: "Post",
                success: function (response) {

                    alert('Document Saved.');
                }
            });*@
        });
        //      $('#myModal').modal(options);
    });
</script>
