@using EventCombo.Models
@model EventCombo.Models.OrderTemplateViewModel
@{
  ViewBag.Title = "Form";
  Layout = "~/Views/Shared/_ManageEventLayout.cshtml";
}

<link href="~/Content/Filer/jquery.filer.css" rel="stylesheet" />
<script src="~/Scripts/jquery.masked.js"></script>
<link href="~/Content/Filer/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
<script src="~/Scripts/filer/jquery.filer.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/summernote.css" rel="stylesheet" />

<link href="~/Content/eventcombo-new.css" rel="stylesheet" />
<link href="~/Content/MapPlaces.css" rel="stylesheet" />

<link href='~/Content/OrderForm.css' rel='stylesheet' type='text/css'>
<link href="~/Content/OrderFormDesign.css" rel="stylesheet" />

@using (Html.BeginForm())
{
  <div class="event_container">
    <div class="event_inner_container event_top" id="eventtopscoll">
     
      @if ((ViewBag.StateMessage != null) && (ViewBag.StateMessage != ""))
      {
      }
      @Html.HiddenFor(m => m.OrderTemplateId)
      @Html.HiddenFor(m => m.EventId)

        <div class="insideContainer col-md-9 col-xs-12">
            <div id="mainForm1" style="display:block;">
                <div class="orderFormTxt"><h2>Order Form Design</h2></div>

                <div class="navTabs lastestBestSale">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active first">
                            <a href="#latestOffer" role="tab" data-toggle="tab">Basic Information</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#saleOffOffer" role="tab" data-toggle="tab">Group Form</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="latestOffer">
                            <div class="form-group setFullSpaceforDiv">
                                <input type="text" class="form-control timeRespondWidth2" id="days" placeholder="Order Form" maxlength="500">
                                <input type="text" class="form-control timeRespondWidth1" id="hours" onblur="setValidDate('hours',this)" placeholder="8:00">
                            </div>
                            <div class="form-group setFullSpaceforDiv">
                                <label class="timeRespondWidth2 lblTxtClass">Order Page Title</label>
                                <label class="timeRespondWidth1 lblTxtClass">Time Limit to Checkout</label>
                            </div>

                            <div class="form-group setFullSpaceforDiv txtAreaMainDiv">
                                <textarea class="form-control setHeight" id="Instruction" placeholder="Please complete this order form. You will recieve your tickets electronically." maxlength="2000"></textarea>
                            </div>
                            <div class="form-group setFullSpaceforDiv">
                                <label class="timeRespondWidth2 lblTxtClass">Instructions for ordering</label>
                            </div>

                            <div class="form-group">
                                <label for="Instruction">Message for Order Confirmation Page</label>
                                <textarea class="form-control setHeight" id="Instruction" placeholder="e.g. Thanks for registering don't forget to keep your tickets handly, either in the Eventbrite app or print them out and bring them with you" maxlength="1000"></textarea>
                            </div>

                            <div class="form-group dragDropItemsDiv">
                                <div class="requiredTxt">Required</div>
                                <div class="dragDropContainer">
                                    <div class="dragDropItemsHead">
                                        Basic Information
                                        <img src="../../images//info.png" alt="" style="height: 90%;float: right;" />
                                    </div>
                                    <div class="dragDropItemsBody">
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Suffix</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">First Name</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Last Name</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Email Address</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Phone</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Shipping Address</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group dragDropItemsDiv">
                                <div class="dragDropContainer">
                                    <div class="dragDropItemsHead">
                                        ADDITIONAL INFORMATION
                                    </div>
                                    <div class="dragDropItemsBody">
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Cell Phone</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Tax & Business Info</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Billing Address</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Card Info</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Home Address</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Shipping Address</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>

                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Job Title</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Company / Organization</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Work Address</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Work Phone</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Website</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Blog</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Gender</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Birth Date</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>

                                        <div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);">
                                            <div class="col-xs-2">
                                                <div class="dragIconItems"><img src="../../images//drag.png" /></div>
                                            </div>

                                            <div class="col-xs-8">
                                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">Age</div>
                                            </div>

                                            <div class="col-xs-2">
                                                <div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group dragDropItemsDiv">
                                <div class="dragDropContainer">
                                    <div class="dragDropItemsHead">
                                        ADD A NEW QUESTION
                                    </div>
                                    <div class="questionItemsHead">
                                        <div id="questionContainerDiv">

                                        </div>
                                        <div class="form-group" style="padding-bottom: 31px;">
                                            <input type="text" class="form-control questionsTxtbox" id="questions" placeholder="Question" maxlength="255">
                                            <div class="dropdown questionsDropDown">
                                                <button class="btn btn-default dropdown-toggle questionsBtn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span class="text">Text</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="javascript:void(0)" onclick="setdropDownItems(this); hideWaiverDiv('waivierTxtDiv');">Text</a></li>
                                                    <li><a href="javascript:void(0)" onclick="setdropDownItems(this); hideWaiverDiv('waivierTxtDiv');">Paragraph Text</a></li>
                                                    <li><a href="javascript:void(0)" onclick="setdropDownItems(this); showWaiverDiv('waivierTxtDiv');">Waiver</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div id="waivierTxtDiv" class="form-group" style="margin: 20px 0px; overflow:hidden; display:none;">
                                            <label for="Instruction">Waiver</label>
                                            <textarea class="form-control setHeight" id="waiverTxt" placeholder=""></textarea>
                                        </div>

                                        <div class="form-group" style="margin: 20px 0px; overflow:hidden;">
                                            <label for="title" style="display:block;">Optional settings</label>
                                            <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); showOtherBidsForOne(this, 'earlyBidSub1');">SHOW THIS QUESTION FOR SPECIFIC TICKET TYPES</div>
                                            <div class="basicInfoUnCheckBox" id="earlyBidSub1" style="display:none; margin-left: 30px;" onclick="setCheckBoxChecked(this)">next to displayed ticket types from event that the question applies to</div>
                                            

                                            <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this);">SHOW THE ATTENDEE ANSWER TO THIS QUESTION ON THE ORDER CONFIRMATION</div>

                                        </div>
                                        <div class="form-group">
                                            <a href="javascript:void(0)" onclick="addQuestionToContainer()" class="btn btn-primary">ADD <span class="glyphicon glyphicon-plus"></span></a>
                                        </div>


                                    </div>

                                    <div class="btnSaveCancel">
                                        <div class="col-xs-6" style="float:left; padding:0px;">
                                            <a href="javascript:void(0)" onclick="saveOrderForm()" class="btn btn-default mainButtonSaveCancel" style="background-color: #c1c1c1;color: #fff;">CANCEL</a>
                                        </div>
                                        <div class="col-xs-6" style="float:right; text-align:right; padding:0px;">
                                            <a href="javascript:void(0)" onclick="cancelOrderForm()" class="btn btn-primary mainButtonSaveCancel">SAVE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="saleOffOffer">
                            <div style="font-size: 15px;line-height: 22px;font-weight: 400;">Allow people to create and join groups when they register. Groups get their own page to share and invite others to join.</div>

                            <div class="form-group" style="margin: 20px 0px; ">
                                <label for="title" style="display:block">GROUP TYPE</label>

                                <div class="dropdown" style="width: 46%;float:left;display: inline-block;">
                                    <button style="width: 46%;text-align: left;" class="btn btn-default dropdown-toggle questionsBtn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        
                                        <span class="text">Group</span>
                                        <span class="caret" style="float: right;margin-top: 8px;"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li><a href="javascript:void(0)" onclick="setdropDownItems1(this)">Group</a></li>
                                        <li><a href="javascript:void(0)" onclick="setdropDownItems1(this)">Team</a></li>
                                        <li><a href="javascript:void(0)" onclick="setdropDownItems1(this)">Organization</a></li>
                                        <li><a href="javascript:void(0)" onclick="setdropDownItems1(this)">Company</a></li>
                                        <li><a href="javascript:void(0)" onclick="setdropDownItems1(this)">Association</a></li>
                                    </ul>
                                </div>
                                <div style="color: #c1c1c1;display: inline-block;float: left;font-size: 13px;">This group type will appear when attendees register</div>
                            </div>

                            <div class="form-group" style="margin: 60px 0px 20px 0px;overflow: hidden;clear: both;">
                                <label for="title" style="display:block;">MAX ATTENDEES PER TEAM</label>
                                <input type="text" class="form-control timeRespondWidth" id="days" placeholder="0">
                                <span style="font-size: 12px;padding-left: 10px;color: #888;">0 means no maximum</span>
                            </div>

                            <div class="form-group" style="margin: 20px 0px; overflow:hidden;">
                                <label for="title" style="display:block;">ENABLE GROUP REGISTRATION BY TICKET TYPE</label>
                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); showOtherBids(this, 'earlyBidSub1', 'earlyBidSub2');">Early Bid</div>
                                <div class="basicInfoUnCheckBox" id="earlyBidSub1" style="display:none; margin-left: 30px;" onclick="setCheckBoxChecked(this)">Group registrants only</div>
                                <div class="basicInfoUnCheckBox" id="earlyBidSub2" style="display:none; margin-left: 30px;" onclick="setCheckBoxChecked(this)">Do not display registrants on team page</div>

                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); showOtherBids(this, 'rsvp1', 'rsvp2');">Rsvp</div>
                                <div class="basicInfoUnCheckBox" id="rsvp1" style="display:none; margin-left: 30px;" onclick="setCheckBoxChecked(this)">Group registrants only</div>
                                <div class="basicInfoUnCheckBox" id="rsvp2" style="display:none; margin-left: 30px;" onclick="setCheckBoxChecked(this)">Do not display registrants on team page</div>

                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); showOtherBids(this, 'extra1', 'extra2');">Extra</div>
                                <div class="basicInfoUnCheckBox" id="extra1" style="display:none; margin-left: 30px;" onclick="setCheckBoxChecked(this)">Group registrants only</div>
                                <div class="basicInfoUnCheckBox" id="extra2" style="display:none; margin-left: 30px;" onclick="setCheckBoxChecked(this)">Do not display registrants on team page</div>

                            </div>

                            <div class="form-group" style="margin: 20px 0px; overflow:hidden;">
                                <label for="title" style="display:block;">GROUP PAGE HEADLINE</label>
                                <input type="text" class="form-control timeRespondWidth2" id="days" placeholder="Eg. Join our team!">
                            </div>

                            <div class="form-group" style="margin: 20px 0px; overflow:hidden;">
                                <label for="Instruction">GROUP PAGE DESCRIPTION</label>
                                <textarea class="form-control setHeight" id="Instruction" placeholder="Eg. We are looking for a great group of people to join our team so we can raise money for our favorite charity!"></textarea>
                            </div>

                            <div style="border-bottom:1px solid #888;"><h2>Optional Settings</h2></div>

                            <div class="form-group" style="margin: 20px 0px; overflow:hidden;">
                                <label for="title" style="display:block;">GROUP PASSWORDS</label>
                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this)">Allow group manager to password-protect their group</div>

                            </div>

                            <div class="form-group" style="margin: 20px 0px; overflow:hidden;">
                                <label for="title" style="display:block;">PREFERRED GROUP START TIMES</label>
                                <div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this)">Allow groups to select a preferred start time</div>

                            </div>

                            <div class="form-group" style="padding: 10px 0px 0px 0px;">
                                <div class="btn btn-primary btn-lg">Save</div>
                                <div class="btn btn-primary btn-lg" style="    background-color: #fff;color: #286090;">Cancel</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

  </div>
}


<script type="text/javascript">

    var dragSrcEl = null;

    function handleDragStart(e, obj) {
        //$(obj).css("opacity", "0.4");  // this / e.target is the source node.
        dragSrcEl = obj;

        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', obj.innerHTML);
    }

    function handleDragOver(e) {
        if (e.preventDefault) {
            e.preventDefault(); // Necessary. Allows us to drop.
        }

        e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.

        return false;
    }

    function handleDragEnter(e, obj) {
        // this / e.target is the current hover target.
        //$(obj).addClass('over');
    }

    function handleDragLeave(e, obj) {
        //$(obj).removeClass('over');  // this / e.target is previous target element.
    }

    function handleDrop(e, obj) {
        // this / e.target is current target element.

        if (e.stopPropagation) {
            e.stopPropagation(); // stops the browser from redirecting.
        }
        // Don't do anything if dropping the same column we're dragging.
        if (dragSrcEl != obj) {
            // Set the source column's HTML to the HTML of the column we dropped on.
            dragSrcEl.innerHTML = obj.innerHTML;
            obj.innerHTML = e.dataTransfer.getData('text/html');
        }
        // See the section on the DataTransfer object.

        return false;
    }

    function handleDragEnd(e, obj) {
        // this/e.target is the source node.
        //$(obj).removeClass('over');

    }

    function setCheckBoxChecked(obj) {
        if ($(obj).hasClass('basicInfoUnCheckBox')) {
            $(obj).addClass('basicInfoCheckBox');
            $(obj).removeClass('basicInfoUnCheckBox');
        }
        else {
            $(obj).removeClass('basicInfoCheckBox');
            $(obj).addClass('basicInfoUnCheckBox');
        }
    }

    function setdropDownItems(obj) {
        $('#dropdownMenu1 .text').html($(obj).html());
    }

    function setdropDownItems1(obj) {
        $('#dropdownMenu2 .text').html($(obj).html());
    }

    function addQuestionToContainer() {
        var question = $('#questions').val();
        var dropDownTxt = $('#dropdownMenu1 .text').html();
        var innerHtml = '<div class="dragableDivContent" draggable="true" ondragstart="handleDragStart(event, this);" ondragenter="    handleDragEnter(event, this);" ondragover="    handleDragOver(event, this);" ondragleave="handleDragLeave(event, this);" ondrop="handleDrop(event, this);" ondragend="handleDragEnd(event, this);"><div class="col-xs-2"><div class="dragIconItems"><img src="../../images//drag.png" /></div></div><div class="col-xs-6"><div class="basicInfoUnCheckBox" onclick="setCheckBoxChecked(this); setRequiredUncheck(this);">' + question + '</div></div><div class="col-xs-2"><div class="basicInfoUnCheckBox onlyCheckBoxItem" onclick="setCheckBoxChecked(this); setFieldCheck(this);"></div></div><div class="col-xs-2"><a href="javascript:void(0)" class="removeIconAnchor" onclick="removeItemList(this)"><img src="../../images//cross.png" /></a></div></div>';
        $("#questionContainerDiv").append(innerHtml);
        $("#questionContainerDiv").show();

        $('#questions').val('');
    }


    function removeItemList(obj) {
        var parent = $(obj).closest('div[class^="dragableDivContent"]');
        $(parent).hide();

    }

    function showHideDiv(obj) {
        if ($('#leftMenuHeaderID span img').attr('src').indexOf('downarrow.png') > -1) {
            $('#leftMenuBodyID').slideUp();
            $('#leftMenuHeaderID span img').attr('src', '../../images//leftarrow.png');
        }
        else {
            $('#leftMenuBodyID').slideDown();
            $('#leftMenuHeaderID span img').attr('src', '../../images//downarrow.png');
        }
    }

    function showHideForm(id) {
        for (var i = 1; i <= 4; i++) {
            $('#mainForm' + i).hide();
        }
        $('#mainForm' + id).show();
    }

    function saveOrderForm() {

    }

    function cancelOrderForm() {

    }

    function setValidDate(id,obj)
    {
        var val = $("#" + id).val();
        
        var getMin = val.split(':');
        
        if (getMin[0] >= 2 && getMin[0] <= 240)
        {
            $(obj).removeClass('validatorTxt');
            return false;
        }
        else {
            $(obj).addClass('validatorTxt');
            return false;
        }
    }

    function showOtherBids(obj,id1,id2)
    {
        if ($(obj).hasClass('basicInfoUnCheckBox')) {
            $('#' + id1).hide();
            $('#' + id2).hide();
        }
        else {
            $('#' + id1).show();
            $('#' + id2).show();
        }
    }

    function showOtherBidsForOne(obj,id1) {
        if ($(obj).hasClass('basicInfoUnCheckBox')) {
            $('#' + id1).hide();
        }
        else {
            $('#' + id1).show();
        }
    }

    function showWaiverDiv(id) {
        $('#' + id).show();
    }

    function hideWaiverDiv(id) {
        $('#' + id).hide();
    }

    function setRequiredUncheck(obj) {

        if ($(obj).hasClass('basicInfoUnCheckBox')) {
            $(obj).parent().next().find('.onlyCheckBoxItem').removeClass('basicInfoCheckBox');
            $(obj).parent().next().find('.onlyCheckBoxItem').addClass('basicInfoUnCheckBox');
        }
        else {
            
        }
    }

    function setFieldCheck(obj) {
        if ($(obj).hasClass('basicInfoCheckBox')) {
            $(obj).parent().prev().find('.basicInfoUnCheckBox').addClass('basicInfoCheckBox');
            $(obj).parent().prev().find('.basicInfoUnCheckBox').removeClass('basicInfoUnCheckBox');
        }
        else {

        }
    }
    
</script>